<h1 mat-dialog-title>Actualizar datos del modulo</h1>
<form [formGroup]="formModulo" (ngSubmit)="sumitModulos($event)" autocomplete="off">
  <div mat-dialog-content>
    <div class="row">
      <mat-form-field class="col-md-12">
        <mat-label>Nombre del modulo</mat-label>
        <input matInput formControlName="nombre_modulo" type="text" placeholder="">
      </mat-form-field>
      <mat-form-field class="col-md-12">
        <mat-label>descripcion del curso</mat-label>
        <textarea matInput formControlName="descripcion_modulo"></textarea>
      </mat-form-field>
      <div class="col-md-4">
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="warn" type="button" (click)="onNoClick()">cancelar</button>
    <button mat-button color="primary" type="submit" [disabled]="formModulo.invalid">Guardar Cambios</button>
  </div>
</form>
