.mat-toolbar {
  top: 0;
  position: sticky;
  overflow: hidden;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.5);
  outline: none;
}
.avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  outline: none;
}
span {
  font-size: medium;
  text-transform: capitalize;
  outline: none;
}
.user {
  font-weight: 700;
  font-size: large;
  outline: none;
}
.rol {
  color: #2980b9;
  outline: none;
}
.input {
  border: 0;
  outline: none;
  color: #8b7d77;
}

.search_wrap {
  width: 350px;
  margin: 30px auto;
  outline: none;
}

.search_wrap .search_box {
  position: relative;
  width: 100%;
  height: 50px;
  outline: none;
}

.search_wrap .search_box .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
  outline: none;
}

.search_wrap .search_box .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: #ffc924;
  z-index: 1;
  cursor: pointer;
  outline: none;
}

.search_wrap .search_box .btn:hover {
  background: #df682d;
}

.search_wrap .search_box .btn.btn_common .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
}

.search_wrap.search_wrap_3 .search_box .input {
  padding-right: 80px;
}

.search_wrap.search_wrap_3 .search_box .input {
  border-radius: 50px;
}

.search_wrap.search_wrap_3 .search_box .btn {
  right: 0px;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
    outline: none;
  }
  .search_wrap {
    display: block;
    width: 100%;
    margin: 30px auto;
    outline: none;
  }
  span {
    font-size: 12px;
    outline: none;
  }
}

.example-button-row {
  display: table-cell;
  width: 490px;
  outline: none;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
  outline: none;
}
.categories {
  background: #673ab7;
  outline: none;
}
.btn {
  color: #fff;
  outline: none;
}
