.mat-toolbar {
  position: fixed;
  //position: -webkit-sticky;
  overflow: hidden;
  top: 0;
  z-index: 1000;
  font-family: "Numans", sans-serif;
  //-webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.5);
  //box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.5);
  outline: none;
  opacity: 0.9;
  //background-color: #f3f3f3;
  height: 80px;
  display: flex;
  justify-content: space-between;
  //background-color: #03989E;
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

.img2 {
  height: 80px;
  //margin-left: 60px;
  //margin-right: 120px;
  margin-top: 20px;
}

.items{
  margin: 20px 100% 0 0;
}

.mat-icon-button {
  outline: none;
  .mat-icon {
    margin-top: 20px;

  }
}

//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Numans&display=swap");

.menu1 {
  margin-top: 40px;
}
.itemsperfil {
  font-family: "Numans", sans-serif;
  margin-top: 30px;
}
.img {
  margin-top: 15px;
}
a {
  color: #000;
  text-decoration: none;
  outline: none;
  font-family: "Numans", sans-serif;
}
.avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  outline: none;
}
span {
  font-size: medium;
  text-transform: capitalize;
  outline: none;
  font-family: "Numans", sans-serif;
}
.user {
  font-weight: 700;
  font-size: large;
  outline: none;
  font-family: "Numans", sans-serif;
}
.rol {
  color: #03738c;
  outline: none;
  font-family: "Numans", sans-serif;
}
.input {
  border: 0;
  outline: none;
  color: #8b7d77;
}

.search_wrap {
  width: 350px;
  margin: 30px auto;
  outline: none;
}

.search_wrap .search_box {
  position: relative;
  width: 100%;
  height: 50px;
  outline: none;
}

.search_wrap .search_box .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
  outline: none;
}

.search_wrap .search_box .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: #ffc924;
  z-index: 1;
  cursor: pointer;
  outline: none;
}

.search_wrap .search_box .btn:hover {
  background: #df682d;
}

.search_wrap .search_box .btn.btn_common .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
}

.search_wrap.search_wrap_3 .search_box .input {
  padding-right: 80px;
}

.search_wrap.search_wrap_3 .search_box .input {
  border-radius: 50px;
}

.search_wrap.search_wrap_3 .search_box .btn {
  right: 0px;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
    outline: none;
  }
  .search_wrap {
    display: block;
    width: 100%;
    margin: 30px auto;
    outline: none;
  }
  span {
    font-size: 12px;
    outline: none;
  }
}

.example-button-row {
  display: table-cell;
  width: 490px;
  outline: none;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
  outline: none;
}

.btn {
  color: #153259;
  outline: none;
}

.mat-button,
.button {
  outline: none;
  color: #153259;
  //color: #f25e3d;
}

//.mat-menu, .mat-menu-item
