<mat-toolbar>
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <!--Boton y logo de la academia que redirecciona al inicio-->
      <a mat-button routerLink="/inicio">
        <img src="assets/img/nuevo_logo_Academia.png" height="75px" alt="" class="img" />
      </a>

      <!--<app-filter-cursos (search)="handleSearch($event)"></app-filter-cursos>
      <div *ngIf="!deviceXs">
        <div class="search_wrap search_wrap_3">
          <div class="search_box">
            <input matInput [formControl]="search" class="input" placeholder="¿Qué cursos te interesan?">
            <div class="btn btn_common">
              <i class="search"></i>
            </div>
          </div>
        </div>
      </div>-->
      <div fxLayout="row" *ngIf="!deviceXs">
        <a mat-button class="menu1" routerLink="/curso/cursos-general">
          Cursos
        </a>
        <a mat-button class="menu1" [matMenuTriggerFor]="menu">Categorias</a>
        <mat-menu #menu="matMenu" xPosition="before">
          <a mat-menu-item *ngFor="let item of etiqueta" routerLink="/curso/cursos-categorias/{{ item.id_etiqueta }}">
            {{ item.nombre_etiqueta }}
          </a>
        </mat-menu>
        <a mat-button class="menu1" routerLink="/instructores/listado-instructores">
          Instructores
        </a>
        <a mat-button class="menu1" routerLink="/info/nosotros">Nosotros</a>
      </div>
    </div>

    <div fxLayout="row" *ngIf="deviceXs">
      <div *ngIf="estado">
        <button mat-button [matMenuTriggerFor]="menu">
          <div fxLayout="row" fxLayoutAlign="end center">
            <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!deviceXs">
              <span class="user">{{ datosUsuario.nombre_usuario }}</span>
              <span class="rol">{{ datosUsuario.rol_usuario.nombre_rol }}</span>
            </div>
            <div>
              <img class="avatar" [src]="datosUsuario.foto_usuario" (error)="imagenError()" />
            </div>
          </div>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item routerLink="/estudiante/mi-perfil">
            Mi Perfil
          </button>
          <button mat-menu-item color="warn" *ngIf="datosUsuario.id_rol == 3"
            routerLink="/estudiante/mis-cursos-adquiridos">
            Mis Cursos
          </button>
          <button mat-menu-item *ngIf="datosUsuario.id_rol == 1" routerLink="admin">
            Panel Administrativo
          </button>
          <button mat-menu-item *ngIf="datosUsuario.id_rol == 2" routerLink="admin">
            Panel del Instructor
          </button>
          <button mat-menu-item *ngIf="datosUsuario.id_rol == 3" routerLink="/instructores/pasos-instructor">
            Quiero Ser Instructor
          </button>
          <button mat-menu-item (click)="cerrarSesion()">Cerrar Session</button>
        </mat-menu>
      </div>

      <div *ngIf="!estado">
        <a mat-button routerLink="/instructores/pasos-instructor">Se instructor
        </a>
        <a mat-button [matMenuTriggerFor]="menu">
          <mat-icon aria-hidden="false" aria-label="Example home icon" color="primary">menu_open</mat-icon>
        </a>
        <mat-menu #menu="matMenu" xPosition="before">
          <a mat-menu-item routerLink="/login">Iniciar Sesión</a>
          <a mat-menu-item routerLink="/register">Regístrate</a>
        </mat-menu>
      </div>

    </div>

    <div *ngIf="!deviceXs">
      <!--<div class="wrapper">
        <div class="search_wrap search_wrap_3">
          <div class="search_box">
            <input type="text" class="input" placeholder="¿Qué cursos te interesan?" />
            <div class="btn btn_common">
              <i class="fas fa-search"></i>
            </div>
          </div>
        </div>
      </div>-->
      <div *ngIf="!estado">
        <a mat-button class="itemsperfil" routerLink="/instructores/pasos-instructor">Se instructor
        </a>
        <a mat-button class="itemsperfil" routerLink="/login">Iniciar Sesión</a>
        <a mat-button class="itemsperfil" routerLink="/register">Regístrate</a>
      </div>

      <div fxLayout="row" *ngIf="estado">
        <a mat-button *ngIf="datosUsuario.id_rol == 3" class="itemsperfil" routerLink="/estudiante/mis-cursos-adquiridos">
          Mis Cursos
        </a>
        <a mat-button *ngIf="datosUsuario.id_rol == 3" class="itemsperfil" routerLink="/instructores/pasos-instructor">
          Quiero Ser Instructor
        </a>
        <button mat-button [matMenuTriggerFor]="menu">
          <div fxLayout="row" fxLayoutAlign="end center">
            <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!deviceXs">
              <span class="user">{{ datosUsuario.nombre_usuario }}</span>
              <span class="rol">{{ datosUsuario.rol_usuario.nombre_rol }}</span>
            </div>
            <div>
              <img class="avatar" [src]="datosUsuario.foto_usuario" (error)="imagenError()" />
            </div>
          </div>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <a mat-menu-item routerLink="/estudiante/mi-perfil">
            Mi Perfil
          </a>
          <a mat-menu-item *ngIf="datosUsuario.id_rol == 1" routerLink="admin">
            Panel Administrativo
          </a>
          <a mat-menu-item *ngIf="datosUsuario.id_rol == 2" routerLink="admin">
            Panel del Instructor
          </a>
          <a mat-menu-item *ngIf="datosUsuario.id_rol == 3" routerLink="/instructores/pasos-instructor">
            Quiero Ser Instructor
          </a>
          <hr>
          <button mat-menu-item (click)="cerrarSesion()">Cerrar Session</button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="deviceXs">
    <a mat-button routerLink="/curso/cursos-general">Novedades</a>
    <button mat-button [matMenuTriggerFor]="menu">Categorias</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let item of etiqueta" routerLink="/curso/cursos-categorias/{{ item.id_etiqueta }}">
        {{ item.nombre_etiqueta }}
      </button>
    </mat-menu>
    <a mat-button routerLink="/instructores/listado-instructores">
      Instructores
    </a>
    <a mat-button routerLink="/info/nosotros">Nosotros</a>
  </mat-toolbar-row>
</mat-toolbar>
