.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.title-examen{
  font-weight: bold;
  font-size: 1.5rem;
  color: blueviolet;
}
.title_prueba{
  color: #252525;
  padding: 3px;
  font-size: 14px;
}
.title_prueba h3{
  padding: 3px;
  color: blueviolet;
}
