 <div mat-dialog-content>
  <div class="container">
    <div class="card row">
      <h3 class="card-header text-center">Exámen :D!</h3>
      <div class="card-body col-md-12 justify-content-center align-self-center">
        <!--Formulario de registro-->
          <mat-accordion class="example-headers-align col-md-12" *ngFor="let item of prueba; let i = index">
            <form [formGroup]="formRegistrar" autocomplete="off">
            <mat-expansion-panel [expanded]="step === i+1" (opened)="setStep(i+1)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>{{item.texto_prueba}}
                </mat-panel-title>
              </mat-expansion-panel-header>
                <mat-radio-group aria-label="Select an option" formControlName="texto_prueba_opcion">
                  <div  *ngFor="let opcion of item.prueba_opcion">
                    <mat-radio-button (click)="getId(opcion.id_prueba_opcion)">
                      {{opcion.texto_prueba_opcion}}
                    </mat-radio-button>
                  </div>
                </mat-radio-group>
                <div class="col-md-12">
                  <p *ngIf="message" (ngModel)="message">
                    La opción seleccionada es {{message}}
                  </p>
                </div>
              <mat-action-row>
                <button mat-raised-button color="primary" (click)="submitRegistrar()">Siguiente</button>
              </mat-action-row>
            </mat-expansion-panel>
          </form>
          </mat-accordion>
      </div>
    </div>
  </div>
</div>
