<mat-dialog-content>
  <div class="container py-3">
    <div class="card">
      <h3 class="card-header text-center">Exámen :D!</h3>
      <div class="card-body justify-content-center align-self-center">
        <!--Formulario de registro-->
        <form [formGroup]="formRegistrar" (ngSubmit)="submitRegistrar($event)" autocomplete="off">
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel *ngFor="let item of prueba; let i = index" [expanded]="step === i+1" (opened)="setStep(item.id_prueba)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>{{item.texto_prueba}}
                </mat-panel-title>
              </mat-expansion-panel-header>
                <mat-radio-group aria-label="Select an option" formControlName="texto_prueba_opcion">
                  <mat-radio-button name="texto_prueba_opcion" *ngFor="let opcion of item.prueba_opcion" value="{{opcion.id_prueba_opcion}}">
                    {{opcion.texto_prueba_opcion}}
                  </mat-radio-button>
                </mat-radio-group>
              <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
              <!-- <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
              </mat-action-row> -->
            <!-- </mat-expansion-panel> -->
        </form>
      </div>
    </div>
</div>

</mat-dialog-content>
