<div class="container">
  <div class="d-fex justify-content-between">
    <h2>Membresias</h2>
  </div>
  <hr/>
  <div class="sinMembresia">
    <p class="mensaje">
      Aún no adquiriste membresia
    </p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Membresia Premium</mat-card-title>
        </mat-card-header>
        <mat-card-subtitle>
          Adquiere Ahora!
        </mat-card-subtitle>
        <mat-card-content>
          <h3>Beneficios</h3>
          ---------------
        </mat-card-content>
        <mat-card-footer>
          <mat-card-actions align="center">
            <button mat-raised-button color="accent" (click)="adquirirMembresia()">Adquirir!</button>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
