<mat-dialog-content class="mat-typography">
  <div class="container">
    <!--Comentario del estudiante o docente-->
    <form [formGroup]="formRegistrarRespuesta" (ngSubmit)="submitRegistrarRespuesta($event)" class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Agrega un comentario publico</mat-label>
        <textarea matInput formControlName="texto_respuesta" type="text"></textarea>
      </mat-form-field>
      <div align="end">
        <button mat-raised-button color="primary" (click)="onNoClick()">CANCELAR</button>&nbsp;
        <button mat-raised-button color="primary" [disabled]="formRegistrarRespuesta.invalid">COMENTAR</button>
      </div>
    </form>
  </div>
</mat-dialog-content>
