<div  class="d-flex justify-content-between">
  <h1 mat-dialog-title>
    Crear Membresia
  </h1>
  <button mat-icon-button [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="formCrearMembresia" (ngSubmit)="submitCrearMembresia($event)" autocomplete="off">
  <div mat-dialog-content>
    <div class="container">
      <div class="row">
        <mat-form-field class="col-md-12">
          <mat-label>Nombre Membresia</mat-label>
          <input matInput formControlName="nombre_membresia" type="text" placeholder="">
        </mat-form-field>
        <mat-form-field class="col-md-12" hitLabel="maximo de caracteres 500">
          <mat-label>Descripción Membresia</mat-label>
          <textarea matInput #input formControlName="texto_membresia" maxlength="500"></textarea>
          <mat-hint align="end">{{input.value?.length || 0 }}/500</mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-12">
          <mat-label>Precio Membresia</mat-label>
          <input matInput formControlName="precio_membresia" type="number" placeholder="">
          <span matSuffix>.Bs</span>
        </mat-form-field>
        <mat-form-field class="col-md-12">
          <mat-label>Tiempo de Membresia</mat-label>
          <input matInput formControlName="duracion_membresia" type="date" placeholder="">
          <span matSuffix>.Bs</span>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-4">
      <div class="contenidoImagen">
        <img [src]="imgURL" class="imagenR" *ngIf="imgURL" controls>
      </div>
      <input type="file" name="imagen_membresia" #imagen hidden accept="image/*" (change)="uploadFile($event.target.files)">
      <button type="button" mat-raised-button color="primary" class="btn-block" (click)="imagen.click()">Subir una
        imagen</button>
    </div>
  </div>
  <mat-dialog-actions class="col-md-12 justify-content-center">
    <button style="width: 40%" color="primary" mat-raised-button [disabled]="formCrearMembresia.invalid">Añadir</button>
    <button style="width: 40%" mat-raised-button [mat-dialog-close]="true" color="warn">Cancelar</button>
  </mat-dialog-actions>
</form>
