<h1 mat-dialog-title>Actualizar datos del modulo</h1>
<form [formGroup]="formEditarPregunta" (ngSubmit)="submitEditarPregunta($event)" autocomplete="off">
  <div mat-dialog-content>
    <div class="row">
      <mat-form-field class="col-md-12">
        <mat-label>Pregunta</mat-label>
        <input matInput formControlName="texto_pregunta" type="text" placeholder="">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="warn" type="button" [mat-dialog-close]>cancelar</button>
    <button mat-button color="primary" type="submit" [disabled]="formEditarPregunta.invalid">Guardar Cambios</button>
  </div>
</form>
