<div class="d-flex justify-content-between">
  <h1 mat-dialog-title>Datos de la Etiqueta</h1>
  <button mat-icon-button [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="formEtiqueta" (ngSubmit)="submitEtiqueta($event)" autocomplete="off">
  <div mat-dialog-content>
    <div class="container">
      <div class="row">
        <hr>
        <div class="col-md-8" *ngIf="datos">
          <img class="imgEtiqueta" src="{{datos.imagen_etiqueta}}" alt="{{datos.imagen_etiqueta}}" srcset="">
        </div>
        <div class="col-md-4">
          <mat-form-field class="col">
            <mat-label>Nombre de la etiqueta</mat-label>
            <input matInput formControlName="nombre_etiqueta" type="text" placeholder="">
          </mat-form-field>
          <mat-form-field class="col">
            <mat-label>descripción de la etiqueta </mat-label>
            <textarea matInput formControlName="descripcion_etiqueta"></textarea>
          </mat-form-field>
          <button type="submit" class="col" mat-raised-button>Guardar Cambios</button>
          <br>
          <input type="file" name="imagenCambio" #imagenCambio hidden accept="image/*"
            (change)="uploadFile($event.target.files)">
          <button type="button" mat-raised-button color="primary" class="col-md-12"
            (click)="imagenCambio.click()">Cambiar
            Imagen</button>
          <!--<button mat-raised-button color="primary" type="button" (click)="cambiarImagen()"> guardar
          </button>-->
          <!--<button mat-raised-button color="warn" type="button" (click)="deleteAttachment(0)"> cancelar
          </button>-->
        </div>
      </div>
    </div>
  </div>
</form>

<!--<mat-dialog-actions>
  <button mat-raised-button color="warn" [mat-dialog-close]="true">cancelar</button>
</mat-dialog-actions>-->
