.container-fluid{
  background-color: #000;
  background: #000;
}

.example-card {
  margin-top: 10px;
  max-width: 600px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


.mat-card{
  margin-top: 30px;
  box-shadow: 8px 8px 20px #c3cbd3;
  outline: none;
  margin-bottom: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

h1{
  margin-top: 5px;
}

.login {
  position: fixed;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  // background: #fff;
  height: 100%;
  z-index:1;
}

.imagenLogo {
  margin-top: 5%;
  margin-left: 5%;
  width: 80%;
}
