<div class="container-fluid">
  <div class="container">
    <mat-card class="example-card">
      <h2>Restablece tu contraseña</h2>
      <div class="justify-content-center">
        <img src="assets/img/Nuevos_Logos_Academia/logo_sin_fondo.png" class="imagenLogo" />
      </div>
      <hr>
      <h3>Ingrese la dirección de correo electrónico verificada de su cuenta de usuario y le enviaremos un enlace para
        restablecer la contraseña.</h3>
      <form [formGroup]="formEmail" (ngSubmit)="emailPass($event)" autocomplete="off">
        <mat-form-field appearance="outline" class="col-md-12">
          <mat-label>
            Ingresa tu correo electrónico
          </mat-label>
          <input matInput placeholder="ejemplo@gmail.com" formControlName="correo_usuario" />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <p>
          <button [disabled]="formEmail.invalid" color="warn" type="submit" mat-raised-button
            class="col-12">enviar correo electrónico de restablecimiento de contraseña</button>
        </p>
      </form>
    </mat-card>
  </div>
</div>
