<div class="container">
  <div class="row">
    <div class="login">
      <div class="container">
        <mat-card class="example-card">
          <div class="justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2Flogo_sin_fondo.png?alt=media&token=a473dfd1-7040-4736-8118-4e9004205c9e"
              class="imagenLogo" />
          </div>
          <hr>
          <h3>Ingrese la dirección de correo electrónico verificada de su cuenta de usuario y le enviaremos un enlace
            para
            restablecer la contraseña.</h3>
          <form [formGroup]="formEmail" (ngSubmit)="emailPass($event)" autocomplete="off">
            <mat-form-field appearance="outline" class="col-md-12">
              <mat-label>
                Ingresa tu correo electrónico
              </mat-label>
              <input matInput placeholder="ejemplo@gmail.com" formControlName="correo_usuario" />
            </mat-form-field>
           <div class="container">
            <p>
              <button [disabled]="formEmail.invalid" color="warn" type="submit" mat-raised-button class="col-12">enviar
                correo electrónico de restablecimiento de contraseña</button>
            </p>
           </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
