<h1 mat-dialog-title *ngIf="datos">Actualiza los datos de tu clase</h1>
<form [formGroup]="formClase" (ngSubmit)="submitClases($event)" autocomplete="off">
  <div mat-dialog-content>
    <div class="row">
      <mat-form-field class="col-md-12">
        <mat-label>Titulo de la clase</mat-label>
        <input matInput formControlName="titulo_clase" type="text" placeholder="">
      </mat-form-field>
      <mat-form-field class="col-md-12">
        <mat-label>descripcion de la clase </mat-label>
        <textarea matInput formControlName="descripcion_clase"></textarea>
      </mat-form-field>
      <button type="submit" class="col-md-12" mat-raised-button [disabled]="formClase.invalid">Guardar Cambios</button>
      <input type="file" name="video_clase" #imagen hidden accept="video/mp4,video/x-m4v,video/*"
        (change)="uploadFile($event.target.files)">
      <button type="button" mat-raised-button color="primary" class="col-md-12" (click)="imagen.click()">Cambiar
        Video</button>
      <p *ngIf="files">
        {{files | json}}
      </p>
      <div *ngIf="estadoVideo">
        <button mat-raised-button color="primary" type="button" (click)="cambiarVideo()"> guardar
        </button>
        <button mat-raised-button color="warn" type="button" (click)="deleteAttachment(0)"> cancelar
        </button>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="warn" type="button" (click)="onNoClick()">cancelar</button>
  </div>
</form>
