.body {
  //min-height: 680px;
  background: #03738c;
}
.content {
  min-height: 680px;
}
.mat-card-content {
  color:  #808B96;
  flex-grow: 1;
  overflow: auto;
  align-content: justify;
  text-align: justify;
}
.long-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
p {
  font-size: xx-large;
}
.hr {
  border: 0.2px solid #03738c;
  border-radius: 3px;
  width: auto;
  /*border-top: 1px solid #D5D8DC;
  height: 2px;
  padding: 0;
  margin: 20px auto 0 auto;*/
}

//Cards de las categorias
.example-card {
  height: 420px;
  box-shadow: 8px 8px 20px #c3cbd3;
  outline: none;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

a {
  color: #000;
  text-decoration: none;
}

.img-cards {
  height: 200px;
  outline: none;
}

.card-doc {
  width: 100%;
  height: 90%;
}
