.mat-spinner {
  align-self: center;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  height: auto;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.example-spacer {
  flex: 1 auto;
}
.modalR {
  max-height: 90vh;
  width: 100%;
}
.videoPreview{
  width: 100%;
}
