<div class="d-flex justify-content-between">
  <h1 mat-dialog-title>Crea pregunta para su exámen</h1>
  <button mat-icon-button [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="formPrueba" (ngSubmit)="sumitPrueba($event)" autocomplete="off">
  <div mat-dialog-content>
    <div class="row">
      <mat-form-field class="col-md-12">
        <mat-label>Pregunta</mat-label>
        <textarea matInput formControlName="texto_prueba"></textarea>
      </mat-form-field>
    </div>
  </div>
  <mat-dialog-actions class="col-md-12 justify-content-center">
    <button style="width: 40%;" mat-raised-button color="primary" [disabled]="formPrueba.invalid">crear pregunta</button>
    <button style="width: 40%;" mat-raised-button color="warn" [mat-dialog-close]="true">cancelar</button>
  </mat-dialog-actions>
</form>
