<div class="container" *ngIf="respuestas">
  <div class="d-flex justify-content-center">
    <h1 mat-dialog-title>Cantidad de Respuestas:{{respuestas.length}}</h1>
  </div>
  <div mat-dialog-content>
    <div class="row" *ngIf="cantidad">
      <div class="col-md-6">
        <div class="alert alert-success" role="alert">
          Si: {{cantidad.si}}
        </div>

      </div>
      <div class="col-md-6">
        <div class="alert alert-danger" role="alert">
          No: {{cantidad.no}}
        </div>
      </div>
    </div>
    <br>
  </div>

</div>
