<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button routerLink="/">
    <img
      src="../../../../assets/img/logo_sin_fondo.png"
      alt="" class="img" />
  </a>
  <span class="example-spacer"></span>
  <a mat-button routerLink="/estudiante/mis-cursos-adquiridos">
    Mis Cursos
  </a>
  <button mat-button [matMenuTriggerFor]="beforeMenu" class="rol">
    <div fxLayout="row" fxLayoutAlign="end center">
      <div>
        <img class="avatar" [src]="datosUsuario.foto_usuario" (error)="imagenError()" />
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <h3 class="user">{{ datosUsuario.nombre_usuario }}</h3>
        <mat-card-subtitle class="rol">{{ datosUsuario.rol_usuario.nombre_rol }}</mat-card-subtitle>
      </div>
    </div>
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/estudiante/mi-perfil">Mi Perfil</button>
    <button mat-menu-item routerLink="/">Volver al inicio</button>
    <button mat-menu-item (click)="cerrarSesion()">Cerrar Sesion</button>
  </mat-menu>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav hasBackdrop="false" class="example-sidenav" fixedInViewport="true"
    [mode]="mobileQuery.matches ? 'over' : 'side'" fixedTopGap="56">
    <br>
    <h4 align="center" mat-subheader>Panel del Instructor</h4>
    <mat-list *ngFor="let item of menuDocente">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{item.grupo}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item *ngFor="let items of item.contenido" [routerLink]="items.link">
            <a [routerLink]="items.link" (click)="sidenav.close()">{{items.titulo}}</a>
            <!---{{items.titulo}}-->
          </mat-list-item>
        </mat-expansion-panel>
      </mat-accordion>
      <!--<div mat-subheader>{{item.grupo}}</div>-->
    </mat-list>
    <div *ngIf="datosUsuario.id_rol == 1">
      <br>
      <h4 align="center" mat-subheader>Administrador</h4>
      <mat-list *ngFor="let item of menuAdmin">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{item.grupo}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item *ngFor="let items of item.contenido" [routerLink]="items.link">
              <a [routerLink]="items.link">{{items.titulo}}</a>
              <!--{{items.titulo}}-->
            </mat-list-item>
          </mat-expansion-panel>
        </mat-accordion>
        <!--<div mat-subheader>{{item.grupo}}</div>
        <mat-list-item *ngFor="let items of item.contenido" [routerLink]="items.link">
          {{items.titulo}}
        </mat-list-item>-->
      </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <br>
    <br>
    <br>
    <br>
    <div class="contenido">
      <router-outlet></router-outlet>
    </div>
    <br>
    <section id="footer">
      <img src="../../../../assets/img/wave2.png" class="footer-img" alt="">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4>De emprendedores para emprendedores.</h4>
            <P>Calacoto, Calle 12 y Av. Fuerza Naval</P>
            <p>Pasaje Inofuentes #502.</p>
          </div>
          <div class="col-md-4">
            <div class="icons">
              <a href="https://www.facebook.com/Academia-Co-Marca-705715713602577/" target="_blank"><i
                  class="fa fa-facebook"></i></a>
              <a href="https://www.youtube.com/channel/UCWz0S-q6Uzu_sUS7luevttw/featured" target="_blank"><i
                  class="fa fa-youtube"></i></a>
              <a href="https://www.instagram.com/academia_co_marca/?hl=es" target="_blank"><i
                  class="fa fa-instagram"></i></a>
            </div>
            <div>
              <p>
                © 2021, By Academia Co Marca</p>
            </div>
            <div>
              <a href="">
                <p>Política de Privacidad</p>
              </a>
              <a href="">
                <p>Condiciones</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
