<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button routerLink="/">
    <img src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2Flogo_sin_fondo.png?alt=media&token=a473dfd1-7040-4736-8118-4e9004205c9e" height="80px" class="img" alt="" />
  </a>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="beforeMenu" class="rol">
    <div fxLayout="row" fxLayoutAlign="end center">
      <div fxLayout="column" fxLayoutAlign="center center">
        <h3 class="user">{{ datosUsuario.nombre_usuario }}</h3>
        <mat-card-subtitle class="rol">{{ datosUsuario.rol_usuario.nombre_rol }}</mat-card-subtitle>
      </div>
      <div>
        <img class="avatar" [src]="datosUsuario.foto_usuario" (error)="imagenError()" />
      </div>
    </div>
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/estudiante/mi-perfil">Mi Perfil</button>
    <button mat-menu-item routerLink="/">Volver al inicio</button>
    <button mat-menu-item (click)="cerrarSesion()">Cerrar Sesion</button>
  </mat-menu>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav hasBackdrop="false" class="example-sidenav" fixedInViewport="true"
    [mode]="mobileQuery.matches ? 'over' : 'side'" fixedTopGap="56">

    <h4 align="center" mat-subheader>Menu Docente</h4>
    <mat-list *ngFor="let item of menuDocente">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title >
              {{item.grupo}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item *ngFor="let items of item.contenido" [routerLink]="items.link">
            <a [routerLink]="items.link" (click)="sidenav.close()">{{items.titulo}}</a>
            <!---{{items.titulo}}-->
          </mat-list-item>
        </mat-expansion-panel>
      </mat-accordion>
      <!--<div mat-subheader>{{item.grupo}}</div>-->
    </mat-list>
    <div *ngIf="datosUsuario.id_rol == 1">
      <br>
      <h4 align="center" mat-subheader>Administrador</h4>
      <mat-list *ngFor="let item of menuAdmin">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{item.grupo}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list-item *ngFor="let items of item.contenido" [routerLink]="items.link">
              <a [routerLink]="items.link">{{items.titulo}}</a>
              <!--{{items.titulo}}-->
            </mat-list-item>
          </mat-expansion-panel>
        </mat-accordion>
        <!--<div mat-subheader>{{item.grupo}}</div>
        <mat-list-item *ngFor="let items of item.contenido" [routerLink]="items.link">
          {{items.titulo}}
        </mat-list-item>-->
      </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <br>
    <br>
    <br>
    <br>
    <div class="contenido">
      <router-outlet></router-outlet>
    </div>
    <br>
    <footer class="body">
      <div class="container-fluid">
        <div class="row menu-footer text-white">
          <div class="col-md-4">
            <div class="py-5">
              <p class="lead text-center">De emprendedores para emprendedores.
              </p>
            </div>
          </div>
        </div>
        <hr>
        <div class="container py-5 text-white text-center ">
          <div class="row">
            <div class="col-md-4">
              <a class="nav-link" href="#">Ponte en contacto con nosotros</a>
              <a class="nav-link" href="#">Politica de privacidad</a>
            </div>
            <div class="col-md-4">
              <a class="nav-link" href="#">Ayuda y asistencia</a>
              <a class="nav-link" href="#">¿Quienes somos?</a>
            </div>
            <div class="col-md-4">
              <a class="nav-link" href="#">Condiciones</a>
              <a class="nav-link" href="#">Blog</a>
            </div>
          </div><br><br>
          <div class="row">
            <img src="../../../../assets/img/Iconos/facebook.png " width="55"><br>
            <img src="../../../../assets/img/Iconos/twitter.png " width="55"><br>
            <img src="../../../../assets/img/Iconos/instagram.jpg " width="55">
          </div>
        </div>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
