<div class="container">
  <div class="row">
    <div class="login">
      <div class="container">
        <mat-card class="example-card">
          <mat-card-title align="center">
            <h1>Restablece tu contraseña</h1>
          </mat-card-title>
          <div class="justify-content-center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2Flogo_sin_fondo.png?alt=media&token=a473dfd1-7040-4736-8118-4e9004205c9e"
              class="imagenLogo" />
          </div>
          <hr>
          <form [formGroup]="formPassRecover" (ngSubmit)="passRecover($event)" autocomplete="off">
            <mat-form-field appearance="outline" class="col-md-12">
              <mat-label>
                Ingresa tu correo electrónico
              </mat-label>
              <input matInput placeholder="ejemplo@gmail.com" formControlName="correo_usuario" />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-12">
              <mat-label>Contraseña</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="Contraseña" formControlName="password">
              <mat-error *ngIf="passwordError.hasError('required')">el campo es requrido</mat-error>
              <mat-error *ngIf="passwordError.hasError('minlength')">el minimo de caracteres es 6</mat-error>
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <div class="container">
              <p>
                <button [disabled]="formPassRecover.invalid" color="warn" type="submit" mat-raised-button
                  class="col-12">enviar
                  correo electrónico de restablecimiento de contraseña</button>
              </p>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
