<div class="d-flex justify-content-between">
  <h1 mat-dialog-title>Actualizar Pregunta</h1>
  <button mat-icon-button [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="formEditarPregunta" (ngSubmit)="submitEditarPregunta($event)" autocomplete="off">
  <div mat-dialog-content>
    <div class="row">
      <mat-form-field class="col-md-12">
        <mat-label>Pregunta</mat-label>
        <input matInput formControlName="texto_encuesta_pregunta" type="text" placeholder="">
      </mat-form-field>
    </div>
  </div>
  <mat-dialog-actions class="col-md-12 justify-content-center">
    <button style="width: 40%;" mat-raised-button color="primary" [disabled]="formEditarPregunta.invalid">Guardar Cambios</button>
    <button style="width: 40%;" mat-raised-button color="warn" type="button" [mat-dialog-close]="true">cancelar</button>
  </mat-dialog-actions>
</form>
