
.full-width {
  width: 100%;
}

.button-width{
  width: 100%;
  margin-block-end: 10px;
}

.button{
  margin: 10%;
}
.contenidoVideo{
  width: 100%;
}
.videoR {
  width: 100%;
}

.contenidoImagen {
  width: 300px;
}
.imagenR {
  height: 200px;
  width: 100%;
}

