<!--Componte de dialogo o modal para el proceso de pago-->
<mat-spinner *ngIf="isActive"></mat-spinner>
<div *ngIf="!isActive">
  <div class="d-flex justify-content-between">
    <br>
    <button mat-icon-button [mat-dialog-close]="true">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="row">
    <h1 mat-dialog-title>Formulario de solicitud para instructores</h1>
  </div>
  <mat-dialog-content class="mat-typography">
    <div class="container">
      <form [formGroup]="formDocente" (ngSubmit)="submitRegistrarDocente($event)" class="example-form">
        <div class="row">
          <div class="col-md-6">
            <h3>Tus datos de Usuario</h3>
          </div>
          <div class="col-md-6">
            <h3>Información adicional</h3>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <!--Informacion del usuario-->
            <mat-form-field class="col-md-6" appearance="outline">
              <mat-label>Tu nombre completo:</mat-label>
              <input matInput value="{{ datosUsuario.nombre_usuario }}" [readonly]="true" />
            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="outline">
              <mat-label>Tu número de celular:</mat-label>
              <input matInput formControlName="telefono_docente" required />
            </mat-form-field>

            <!--Informacion del usuario-->
          </div>
          <div class="row">
            <!--<h3>Agrega tus Datos de Instructor</h3>-->


            <mat-form-field class="col-md-6" appearance="outline">
              <mat-label>Correo electrónico:</mat-label>
              <input matInput value="{{ datosUsuario.correo_usuario }}" [readonly]="true" />
            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="outline">
              <mat-label>Tu experiencia como instructor / docente:</mat-label>
              <input matInput formControlName="experiencia_docente" required />
            </mat-form-field>

            <!--Datos del Docente-->


          </div>
          <!--<h3>Información adicional</h3>-->
          <div class="row">
            <mat-form-field class="col-md-11" appearance="outline">
              <mat-label>Háblanos acerca de ti (Descripción del instructor):</mat-label>
              <textarea matInput formControlName="descripcion_docente" placeholder="Ex. Soy una persona..."
                required></textarea>
            </mat-form-field>
            <!--<input type="file" #imagen hidden accept="video/mp4,video/x-m4v,video/*"
                (change)="uploadFile($event.target.files)">
              <button mat-raised-button class="button-width" type="button" color="accent" (click)="imagen.click()">Sube
                un video tuyo</button>
              <div class="contenidoVideo">
                <video [src]="videoURL" *ngIf="videoURL" class="videoR" controls></video>
              </div>-->
            <div class="col-md-1">
              <!--<p class="download" *ngIf="finalizado">
                  URL de descarga:
                  <a href="{{ URL }}" target="_blank">Descargar</a>
                </p>-->
              <form [formGroup]="archivoForm" (ngSubmit)="subirArchivo()">
                <div class="file has-name is-boxed">
                  <label class="file-label">
                    <div class="contenidoVideo">
                      <video [src]="videoURL" *ngIf="videoURL" class="videoR" controls></video>
                    </div>
                    <input class="file-input" type="file" formControlName="archivo" #imagen hidden
                      accept="video/mp4,video/x-m4v,video/*" (change)="cambioArchivo($event)"
                      name="video_presentacion" />
                    <!--<span class="file-cta">
                        <span class="file-label"> Elegir un archivo… </span>
                      </span>
                      <span class="file-name">
                        {{ mensajeArchivo }}
                      </span>-->
                  </label>
                  <!--<button type="button" mat-raised-button class="col-md-12" color="primary" (click)="imagen.click()">
                    Seleccionar Video
                  </button>-->
                  <div class="col-2"> <button mat-fab color="warn" matTooltip="Selecciona un video tuyo"
                      (click)="imagen.click()">
                      <mat-icon>videocam</mat-icon>
                    </button></div>
                  <br>
                  <div class="col-2">
                    <button mat-fab matTooltip="Sube el video" color="primary" [ngClass]="{
                      button: true,
                          'is-success': true,
                          'is-large': true,
                          'is-loading': porcentaje > 0 && porcentaje < 100
                        }" [disabled]="
                          !archivoForm.valid && porcentaje > 0 && porcentaje < 100
                        ">
                      <mat-icon>upload</mat-icon>
                    </button>
                  </div>
                  <br>
                  <!--<button mat-raised-button color="accent" [ngClass]="{
                    button: true,
                        'is-success': true,
                        'is-large': true,
                        'is-loading': porcentaje > 0 && porcentaje < 100
                      }" [disabled]="
                        !archivoForm.valid && porcentaje > 0 && porcentaje < 100
                      ">
                    Subir video
                  </button>-->
                  <progress *ngIf="porcentaje > 0 && porcentaje < 100" class="progress is-large is-success"
                    value="{{ porcentaje }}" max="100">
                    {{ porcentaje }}%
                  </progress>

                  <!--<progress *ngIf="porcentaje > 0 && porcentaje < 100" class="progress is-large is-success"
                      value="{{ porcentaje }}" max="100">
                      {{ porcentaje }}%
                    </progress>--
                    <button mat-raised-button color="accent" class="col-md-6" [ngClass]="{
                        button: true,
                        'is-success': true,
                        'is-large': true,
                        'is-loading': porcentaje > 0 && porcentaje < 100
                      }" [disabled]="
                        !archivoForm.valid && porcentaje > 0 && porcentaje < 100
                      ">
                      Subir video
                    </button>-->
                </div>
              </form>

              <!--<div class="col-2">
                <button mat-fab type="button" matTooltip="Sube tu CV" color="warn" (click)="imagen2.click()">
                  <mat-icon>upload_file</mat-icon>
                </button>
              </div>-->

              <form [formGroup]="cvForm" (ngSubmit)="upCv()">
                <div class="file has-name is-boxed">
                  <label class="file-label">
                    <input class="file-input" type="file" formControlName="archivoCv" #imagen2 hidden
                      accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps" (change)="changeCv($event)"
                      name="cv_docente" />
                    <!--<span class="file-cta">
                        <span class="file-label"> Elegir un archivo… </span>
                      </span>
                      <span class="file-name">
                        {{ mensajeArchivo }}
                      </span>-->
                  </label>
                  <!--<button type="button" mat-raised-button class="col-md-12" color="primary" (click)="imagen.click()">
                    Seleccionar Video
                  </button>-->
                  <div class="col-2"> <button mat-fab color="warn" matTooltip="Selecciona tu CV"
                      (click)="imagen2.click()">
                      <mat-icon>upload_file</mat-icon>
                    </button></div>
                  <br>
                  <div class="col-2">
                    <button mat-fab matTooltip="Sube tu CV" color="primary" [ngClass]="{
                      button: true,
                          'is-success': true,
                          'is-large': true,
                          'is-loading': porcentajeCv > 0 && porcentajeCv < 100
                        }" [disabled]="
                          !archivoForm.valid && porcentajeCv > 0 && porcentajeCv < 100
                        ">
                      <mat-icon>upload</mat-icon>
                    </button>
                  </div>
                  <br>
                  <!--<button mat-raised-button color="accent" [ngClass]="{
                    button: true,
                        'is-success': true,
                        'is-large': true,
                        'is-loading': porcentaje > 0 && porcentaje < 100
                      }" [disabled]="
                        !archivoForm.valid && porcentaje > 0 && porcentaje < 100
                      ">
                    Subir video
                  </button>-->
                  <progress *ngIf="porcentajeCv > 0 && porcentajeCv < 100" class="progress is-large is-success"
                    value="{{ porcentajeCv }}" max="100">
                    {{ porcentajeCv }}%
                  </progress>
                  <!--<p *ngIf="filesCV">
                    {{ nombreArchivoCv | json }}
                  </p>-->
                  <!--<progress *ngIf="porcentaje > 0 && porcentaje < 100" class="progress is-large is-success"
                      value="{{ porcentaje }}" max="100">
                      {{ porcentaje }}%
                    </progress>--
                    <button mat-raised-button color="accent" class="col-md-6" [ngClass]="{
                        button: true,
                        'is-success': true,
                        'is-large': true,
                        'is-loading': porcentaje > 0 && porcentaje < 100
                      }" [disabled]="
                        !archivoForm.valid && porcentaje > 0 && porcentaje < 100
                      ">
                      Subir video
                    </button>-->
                </div>
              </form>

            </div>
            <!--<div class="col-md-3 py-4">
              <input type="file" name="cv_docente" #imagen2 hidden (change)="uploadFile($event.target.files)" />
              <button mat-fab type="button" matTooltip="Sube tu CV" color="warn" (click)="imagen2.click()">
                <mat-icon>upload_file</mat-icon>
              </button>-->
            <!--<p *ngIf="filesCV">
                {{ filesCV | json }}
              </p>
            </div>-->
            <!--<button mat-fab color="primary" (click)="imagen2.click()">
                <mat-icon>upload_file</mat-icon>
              </button>-->

            <!--Datos del Docente-->
          </div>
          <button mat-raised-button class="col-md-12" color="primary" type="submit" [disabled]="formDocente.invalid">
            Enviar mi solicitud de docencia
          </button>
        </div>
      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]>Cancelar</button>
  </mat-dialog-actions>
</div>
