.body {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  font-family: "Montserrat", sans-serif;
}

.content {
  min-height: 680px;
}

p {
  font-size: xx-large;
}

.hr {
  border: 0.2px solid #03738c;
  border-radius: 3px;
  width: auto;
}

.long-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.mat-stroked-button {
  outline: none;
}

//Cards de las categorias
.mat-card {
  height: 500px;
  box-shadow: 8px 8px 20px #c3cbd3;
  outline: none;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.mat-card-content {
  color: #808B96;
  flex-grow: 1;
  overflow: auto;
  align-content: justify;
  text-align: justify;
}

.mat-card-title {
  text-align: center;
}

a {
  color: #2874A6;
  text-decoration: none;
  font-weight: normal;
}

.titulo{
  color: #EC7063;
  text-decoration: none;
  font-weight: normal;
}

.img-cards {
    height: 150px;
    outline: none;
    max-height: 200px;
  }

.img-svg path {
  fill: #fff;
}

.mat-chip {
  max-width: 200px;
  margin-left: 40px;
}

@media only screen and (max-width: 767px){
  .img-cards {
    max-height: 300px;
  }
}
