.mat-raised-button {
  border-radius: 800px;
}

.col {
  margin-left: 5%;
  margin-right: 5%;
}

.text {
  color: #2e3d4b;
}
.long-text{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

//Cards de las categorias
.mat-card {
  width: 100%;
  height: 100%;
}

.cat-img-cards {

  height: 70%;
  width: 100%;
  /*min-width: 100%;
  min-height: 50%;*/
}

//Cards de los cursos
.mat-card {
  min-height: 400px;
  max-height: 550px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.mat-card-title {
  text-align: center;
}

.mat-card-content {
  flex-grow: 1;
  overflow: auto;
  align-content: justify;
  text-align: justify;
}

a {
  color: #000;
  text-decoration: none;
}

.img-cards {
  max-height: 200px;
}

.card-doc {
  width: 100%;
  height: 90%;
}

.img-cards-testimonios {
  width: 100%;
  height: 80%;
}
.mat-chip {
  max-width: 200px;
  margin-left: 40px;
}

@media only screen and (max-width: 767px){
  .img-cards {
    max-height: 300px;
  }
}
