.mat-stepper-horizontal {
  margin-top: 8px;
}

button{
  outline: none;
}

.mat-form-field {
  margin-top: 16px;
}

.example-radio-group {
 flex-direction: row;

}

.mat-radio-button {
  margin-left: 0.9%;
  margin-block-end: 1%;
}

.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-tab-icon {
  margin-right: 8px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
