<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-card-title>
        Lista de Preguntas Frecuentes
      </mat-card-title>
      <div class="d-flex flex-row-reverse">
        <button mat-mini-fab color="accent" (click)="registrarPregunta()">
          <mat-icon>plus_one</mat-icon>
        </button>
      </div>
      <hr>
      <div *ngIf="!pregunta">
        <mat-spinner></mat-spinner>
      </div>
      <mat-selection-list [multiple]="false">
        <div>
          <mat-list-item *ngFor=" let item of pregunta" class="row">
            <div mat-line class="row">
              <div mat-line>
                <mat-icon mat-list-icon color="warn">help</mat-icon>{{item.texto_pregunta}}
              </div>
              <div mat-line>
                <div class="d-flex flex-row-reverse">
                  <button mat-icon-button color="warn" (click)="borrarPregunta(item.id_pregunta)"
                    matTooltip="eliminar pregunta">
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                  <button mat-icon-button color="accent" (click)="editarPregunta(item.id_pregunta)"
                    matTooltip="editar pregunta">
                    <mat-icon>drive_file_rename_outline</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" (click)="registrarRespuesta(item.id_pregunta)"
                    matTooltip="añadir respuesta">
                    <mat-icon>playlist_add</mat-icon>
                  </button>
                </div>
              </div>
              <hr>
            </div>
            <div mat-line>
              <div *ngIf="item.pregunta_respuesta.length || 0">
                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Ver respuestas
                        <!--item.pregunta_respuesta-->
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-selection-list [multiple]="false" *ngFor="let res of item.pregunta_respuesta">

                      <mat-list-option *ngIf="res.estado_respuesta_pregunta != 0">
                        <div mat-line>
                          <div mat-line>
                            <mat-icon mat-list-icon color="primary">done_all</mat-icon>
                            Respuesta:{{res.texto_respuesta_pregunta}}
                          </div>
                          <div mat-line align="end">
                            <button mat-icon-button color="accent" (click)="editarRespuesta(res.id_respuesta_pregunta)"
                              matTooltip="editar respuesta">
                              <mat-icon>create</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="borrarRespuesta(res.id_respuesta_pregunta)"
                              matTooltip="eliminar respuesta">
                              <mat-icon>delete_forever</mat-icon>
                            </button>
                          </div>
                        </div>
                      </mat-list-option>
                    </mat-selection-list>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              <mat-divider></mat-divider>
            </div>
            <hr>
          </mat-list-item>
        </div>
      </mat-selection-list>
    </mat-card-content>
  </mat-card>
</div>
