.sinDatos {
  margin-top: 10%;
  margin-bottom: 10%;
}
.mensaje {
  font-size: large;
  text-align: center;
  button {
    font-size: large;
  }
}
.imagenMembresia {
  height: 100px;
  width: 100px;
}
