.contenidoImagen {
  width: 300px;
}
.imagenR {
  height: 200px;
  width: 100%;
}

.mat-card-content{
  margin-left: 20px;
}

.example-card {
  max-width: 400px;
}

mat-card-image{
  width: 100%;
}
.example-button-row {
  display: table-cell;
  width: 490px;
}
.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}
.mat-card{
 margin-left: 10px;
}
