footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons .fa{
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.body{
  min-height: 400px;
  background-color: #2c3e50;
}

.col-derecha {
  margin-left: 30%;
}

.col-izq {
  margin-top: 20%;
}

.img {
  margin-top: 5%;
}

a {
  //color: #2c3e50;
  color: #f3f3f3;
}

.w {
  position: absolute;
  bottom: 5px;
  right: 15px;
}

.menu-footer {
  background-color: #03a6a6;
}
