.col-derecha {
  margin-left: 30%;
}

.col-izq {
  margin-top: 20%;
}

.img {
  margin-top: 5%;
}

a {
  color: #2c3e50;
}

.w {
  position: absolute;
  bottom: 5px;
  right: 15px;
}

.menu-footer {
  background-color: #ff8d24;
}
