.col-derecha {
  margin-left: 30%;
}

.col-izq {
  margin-top: 20%;
}

.img {
  margin-top: 5%;
}

a {
  color: #fff;
}

.w {
  position: absolute;
  bottom: 5px;
  right: 15px;
}

.menu-footer {
  color: #fff;
  background-color: #f05853;
}
footer{
  background: #1e1f31;
}
