<footer>
  <h4>De emprendedores para emprendedores.</h4>
  <P>Calacoto, Calle 12 y Av. Fuerza Naval</P>
  <p>Pasaje Inofuentes #502.</p>
  <div class="icons">
    <i class="fa fa-facebook"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-instagram"></i>
  </div>
</footer>


<!--<footer class="body">
  <div class="container-fluid">
    <div class="row menu-footer text-white">
      <div class="col-md-4">
        <div class="py-5">
          <p class="lead text-center">De emprendedores para emprendedores.
          </p>
        </div>
      </div>
    </div>
    <hr>-->

    <!--<div class="row">
      <div class="col-md-6">
        <div class="col">
          <div class="row">
            <a class="nav-link" href="#">Ponte en contacto con nosotros</a>
            <a class="nav-link" href="#">Politica de privacidad</a>
            <a class="nav-link active" href="#">Ayuda y asistencia</a>
          </div>-->
    <!--<div class="row">

            <a class="nav-link active" href="#">¿Quienes somos?</a>
            <a class="nav-link" href="#">Condiciones</a>
            <a class="nav-link" href="#">Blog</a>
          </div>
        </div>
        <div class="row img">
          <img src="../../../../assets/img/Iconos/logoAcademia.png" width="200 " height="50"
            class="d-inline-block align-top " alt=" " loading="lazy ">
        </div>-->
    <!--</div>
      <div class="col-md-6">
        <div class="row w">
          <div class="col">
            <img src="../../../../assets/img/Iconos/facebook.png " width="55"><br>
            <img src="../../../../assets/img/Iconos/twitter.png " width="55"><br>
            <img src="../../../../assets/img/Iconos/instagram.jpg " width="55"></div>
        </div>
      </div>
    </div>
  </div>-->

    <!--<div class="container content-center">
    <div class="row">
      <div class="col">
        <a class="nav-link" href="#">Ponte en contacto con nosotros</a>
        <a class="nav-link" href="#">Politica de privacidad</a>
      </div>
      <div class="col">
        <a class="nav-link active" href="#">Ayuda y asistencia</a>
        <a class="nav-link active" href="#">¿Quienes somos?</a>
      </div>
      <div class="col">
        <a class="nav-link" href="#">Condiciones</a>
        <a class="nav-link" href="#">Blog</a>
      </div>
    </div>
    <div class="row">
        <img src="../../../../assets/img/Iconos/facebook.png " width="55"><br>
        <img src="../../../../assets/img/Iconos/twitter.png " width="55"><br>
        <img src="../../../../assets/img/Iconos/instagram.jpg " width="55"></div>
  </div>-->
    <!--<div class="container py-5 text-white text-center ">
      <div class="row">
        <div class="col-md-4">
          <a class="nav-link" href="#">Ponte en contacto con nosotros</a>
          <a class="nav-link" href="#">Politica de privacidad</a>
        </div>
        <div class="col-md-4">
          <a class="nav-link" href="#">Ayuda y asistencia</a>
          <a class="nav-link" href="#">¿Quienes somos?</a>
        </div>
        <div class="col-md-4">
          <a class="nav-link" href="#">Condiciones</a>
          <a class="nav-link" href="#">Blog</a>
        </div>
      </div><br><br>
      <div class="row">
        <img src="../../../../assets/img/Iconos/facebook.png " width="55"><br>
        <img src="../../../../assets/img/Iconos/twitter.png " width="55"><br>
        <img src="../../../../assets/img/Iconos/instagram.jpg " width="55">
      </div>
    </div>
  </div>
</footer>-->
