<svg xmlns="../../../../assets/img/svg/wave.svg" viewBox="0 0 1440 320">
  <path fill="#1e1f31" fill-opacity="1" d="M0,320L0,128L180,128L180,160L360,160L360,288L540,288L540,128L720,128L720,256L900,256L900,224L1080,224L1080,0L1260,0L1260,288L1440,288L1440,320L1260,320L1260,320L1080,320L1080,320L900,320L900,320L720,320L720,320L540,320L540,320L360,320L360,320L180,320L180,320L0,320L0,320Z"></path>
</svg>
<footer>
  <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4 text-white">
            <a class="nav-link" href="#">Ponte en contacto con nosotros</a>
            <a class="nav-link" href="#">Politica de privacidad</a>
            <a class="nav-link active" href="#">Ayuda y asistencia</a>
        <!-- <div class="row img">
          <img src=" ../../../../assets/img/Iconos/logo jpg de alta resolucion.png " width="220 " height="95"
            class="d-inline-block align-top " alt=" " loading="lazy ">
        </div> -->
        </div>
        <div class="col-md-4 text-white">
            <a class="nav-link active" href="#">¿Quienes somos?</a>
            <a class="nav-link" href="#">Condiciones</a>
            <a class="nav-link" href="#">Blog</a>
        </div>
        <div class="col-md-4">
            <div class="col">
              <img src="../../../../assets/img/Iconos/facebook.png " width="25"><br>
              <img src="../../../../assets/img/Iconos/twitter.png " width="25"><br>
              <img src="../../../../assets/img/Iconos/instagram.jpg " width="25"></div>
        </div>
    </div>
    <div class="row menu-footer justify-content-center">
        <p class="text-center">De emprendedores para emprendedores | CO-MARCA Cowork 2020</p>
    </div>
  </div>
</footer>
