<mat-spinner *ngIf="!datos || estadoCargando"></mat-spinner>
<div *ngIf="datos && !estadoCargando">
  <div class="d-flex justify-content-between">
    <h1 mat-dialog-title *ngIf="datos">Suba los recursos de su clase</h1>
    <button mat-icon-button [mat-dialog-close]="true">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form [formGroup]="formRecurso" (ngSubmit)="submitRecurso($event)" autocomplete="off">
      <div class="row">
        <mat-form-field class="col-md-12">
          <mat-label>Nombre del Recurso</mat-label>
          <input matInput formControlName="nombre_recurso" type="text" placeholder="">
        </mat-form-field>


        <form [formGroup]="archivoForm" (ngSubmit)="subirArchivo()">
          <input type="file" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps/xls" name="recurso"
            formControlName="archivo" #imagen hidden (change)="cambioArchivo($event)">
          <div class="col-md-12 justify-content-center">
            <button type="button" mat-raised-button color="accent" style="width: 50%;" (click)="imagen.click()">Elige un
              archivo</button>
            <button mat-raised-button color="primary" style="width: 50%;"
              [ngClass]="{'button': true, 'is-success': true, 'is-large': true, 'is-loading': porcentaje > 0 && porcentaje < 100}"
              [disabled]="!archivoForm.valid && (porcentaje > 0 && porcentaje < 100)">Subir archivo</button>
            <progress *ngIf="porcentaje > 0 && porcentaje < 100" class="progress is-large is-success"
              value="{{porcentaje}}" max="100">{{porcentaje}}%</progress>
          </div>
          <p *ngIf="filedata">
            {{mensajeArchivo | json}}
          </p>
        </form>
        <br>
        <div class="col-md-12 justify-content-center">
          <button style="width: 50%;" type="submit" mat-raised-button color="primary" class="col-md-12">Guardar</button>
          <button style="width: 50%;" mat-raised-button color="warn" type="button" (click)="onNoClick()">Cerrar</button>
        </div>
      </div>
    </form>
    <hr>
    <div *ngIf="datos">
      <mat-selection-list [multiple]="false">
        <div mat-subheader>Lista de Recursos</div>
        <mat-list-item *ngFor="let recurso of datos.recursos" class="row">
          <mat-icon mat-list-icon>folder</mat-icon>
          <div mat-line>Titulo: {{recurso.nombre_recurso}}</div>
          <button align="end" mat-icon-button color="warn" matTooltip="eliminar recurso"
            (click)="borrarRecurso(recurso.id_recurso)">
            <mat-icon>delete_forever</mat-icon>
          </button>
          <a align="end" mat-icon-button color="accent" matTooltip="descargar recurso" target=”_blank”
            href="{{recurso.link_recurso}}">
            <mat-icon>drive_folder_upload</mat-icon>
          </a>
        </mat-list-item>
      </mat-selection-list>
    </div>
  </div>
</div>
