<div  class="d-flex justify-content-between">
  <h1 mat-dialog-title>
    Membresia Gratuita!!
  </h1>
</div>
  <div mat-card>
    <!--Card del comprobante de pago-->
    <div mat-card-actions>
      <!--Formulario para subir la imagen del comprobante-->
      <form (ngSubmit)="submitAdquirirMemb($event)">
          <button mat-raised-button class="col-10" color="primary" type="submit">
           ¡Adquiere la membresia!
          </button>
      </form>
      <!--Final del formulario-->
    </div>
    <!--Final del card de comprobante de pago-->
  </div>

