table {
  width: 100%;
  td {
    width: 25%;
  }
}

.comprobanteImagen {
  height: 100px;
  margin-right: auto;
  margin-left: auto;
}

.comprobante:hover {
  cursor: pointer;
}
.videoPreview {
  width: 200px;
  height: auto;
}

.demo-table {
  width: 100%;
}

.mat-column-demo-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-demo-name {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-demo-weight {
  font-style: italic;
}

.mat-column-demo-symbol {
  width: 32px;
  text-align: center;
  font-weight: bold;
}
