<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="d-flex">
        <mat-card-title>
          Solicitud Docente
        </mat-card-title>
      </div>
    </mat-card-content>
  </mat-card>
  <hr>
  <mat-card>
    <mat-card-content>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
          <ng-container matColumnDef="estado_docente">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon *ngIf="element.estado_docente == 1" mat-icon-button color="warn">
                check_circle_outline
              </mat-icon>
              <mat-icon *ngIf="element.estado_docente == 0" mat-icon-button color="warn">
                cancel
              </mat-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="nombre_usuario">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.datos_usuario.nombre_usuario}} </td>
          </ng-container>
          <!-- <ng-container matColumnDef="imagen_membresia">
            <th mat-header-cell *matHeaderCellDef> Sobre la Membresia  </th>
            <td class="comprobante" mat-cell *matCellDef="let element" (click)="openDialog(element.membresia_solicitada.imagen_membresia)">
              <img class="comprobanteImagen" src="{{element.membresia_solicitada.imagen_membresia}}" alt="imagen comprobate"
                srcset="{{element.membresia}}">
            </td>
          </ng-container> -->
          <ng-container matColumnDef="telefono_docente">
            <th mat-header-cell *matHeaderCellDef>Teléfono</th>
            <td mat-cell *matCellDef="let element">
              <h3 color="accent">{{ element.telefono_docente }}</h3>
            </td>
          </ng-container>
          <!--<ng-container matColumnDef="descripcion_docente">
            <th mat-header-cell *matHeaderCellDef>Descripción</th>
            <td mat-cell *matCellDef="let element">
              <h3 color="primary">{{ element.descripcion_docente }}</h3>
            </td>
          </ng-container>-->
          <ng-container matColumnDef="experiencia_docente">
            <th mat-header-cell *matHeaderCellDef>Exp</th>
            <td mat-cell *matCellDef="let element">
              <h3 color="primary">{{ element.experiencia_docente }}</h3>
            </td>
          </ng-container>
          <ng-container matColumnDef="numero_cuenta">
            <th mat-header-cell *matHeaderCellDef>Cuenta</th>
            <td mat-cell *matCellDef="let element">
              <h3 color="primary">{{ element.numero_cuenta }}</h3>
            </td>
          </ng-container>
          <ng-container matColumnDef="tipo_cuenta">
            <th mat-header-cell *matHeaderCellDef>Tipo-Cuenta</th>
            <td mat-cell *matCellDef="let element">
              <h3 color="primary">{{ element.tipo_cuenta }}</h3>
            </td>
          </ng-container>
          <ng-container matColumnDef="nombre_banco">
            <th mat-header-cell *matHeaderCellDef>Banco</th>
            <td mat-cell *matCellDef="let element">
              <h3 color="primary">{{ element.nombre_banco }}</h3>
            </td>
          </ng-container>
          <ng-container matColumnDef="cv_docente">
            <th mat-header-cell *matHeaderCellDef>CV</th>
            <td mat-cell *matCellDef="let element">
              <a mat-icon-button color="primary" matTooltip="mira tu CV" target=”_blank”
                href="{{element.cv_docente}}">
                <mat-icon>description</mat-icon>
              </a>
            </td>
          </ng-container>
          <ng-container matColumnDef="video_presentacion">
            <th mat-header-cell *matHeaderCellDef>Video</th>
            <td mat-cell *matCellDef="let element">
                <a mat-icon-button color="primary" matTooltip="mira tu CV" target=”_blank”
                href="{{element.video_presentacion}}">
                <mat-icon>play_arrow</mat-icon>
              </a>
            </td>
          </ng-container>
          <ng-container matColumnDef="id_docente">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element">
              <button *ngIf="element.estado_docente == 0" mat-raised-button color="accent" class="btn-block"
                (click)="habilitar(element.id_usuario)">Habilitar</button>
              <button *ngIf="element.estado_docente == 1" mat-raised-button color="warn" class="btn-block"
                (click)="habilitar(element.id_usuario)">Deshabilitar</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" align="center" colspan="4">no hay solicitud</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

      </div>
    </mat-card-content>
  </mat-card>
</div>
