<div class="d-flex justify-content-between">
  <h1 mat-dialog-title>Registra una Pregunta</h1>
  <button mat-icon-button [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="formPregunta" (ngSubmit)="submitPregunta($event)" autocomplete="off">
  <div mat-dialog-content>
    <div class="container">
      <div class="row">
        <mat-form-field class="col-md-12">
          <mat-label>Pregunta </mat-label>
          <input matInput formControlName="texto_pregunta" type="text" placeholder="">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" [mat-dialog-close]>Cancelar</button>
    <button type="submit" color="primary" [disabled]="formPregunta.invalid" mat-raised-button>Registrar pregunta</button>
  </div>
</form>
