<h1 mat-dialog-title>Actualizar datos de respuesta</h1>
<form [formGroup]="formEditarRespuesta" (ngSubmit)="submitEditarRespuesta($event)" autocomplete="off">
  <div mat-dialog-content>
    <div class="row">
      <mat-form-field class="col-md-12">
        <mat-label>Respuesta</mat-label>
        <input matInput formControlName="texto_respuesta_pregunta" type="text" placeholder="">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="warn" type="button">cancelar</button>
    <button mat-button color="primary" type="submit" [disabled]="formEditarRespuesta.invalid">Guardar Cambios</button>
  </div>
</form>
