<div class="container">
  <div class="row py-3">
    <div class="col-md-12">
      <mat-card>
        <h1>Tu información básica</h1>
      </mat-card>
      <div class="container py-4">
        <!--Card de foto y datos de usuario (estudiante)-->
        <form [formGroup]="formUsuario" (ngSubmit)="submitEditarUsuario($event)" class="example-form">
          <div class="row">
            <div class="col-md-8 py-2">
              <!--Datos del estudiante-->
              <mat-card>
                <mat-card-header class="py-3">
                  <mat-card-title>Datos de Usuario</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <hr>
                  <mat-form-field class="col-md-12">
                    <mat-label>Nombre Completo:</mat-label>
                    <input matInput formControlName="nombre_usuario" type="text">
                  </mat-form-field>
                  <mat-form-field class="col-md-12">
                    <mat-label>Correo electrónico:</mat-label>
                    <input matInput formControlName="correo_usuario" type="email">
                  </mat-form-field>
                </mat-card-content>
                <mat-card-actions align="end">
                  <button mat-button type="submit">Guardar cambios</button>
                </mat-card-actions>
              </mat-card>
              <!--Datos del estudiante-->
              <br>
              <!--Informacion del Docente-->
              <div *ngIf="datosUsuario.id_rol == 2">
                <mat-card>
                  <h1>Tu información de Instructor</h1>
                </mat-card>
                <br>
                <form [formGroup]="formDocente" (ngSubmit)="actualizarPerfilDocente($event)" class="example-form">
                  <div *ngIf="datosUsuario.datos_docente">
                    <mat-card>
                      <mat-card-header class="py-3">
                        <mat-card-title>Datos de Instructor</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                        <hr>
                        <mat-form-field class="col-md-12">
                          <mat-label>Número de celular:</mat-label>
                          <input matInput formControlName="telefono_docente" type="number">
                        </mat-form-field>
                        <mat-form-field class="col-md-12">
                          <mat-label>Descripción profesional:</mat-label>
                          <textarea matInput formControlName="descripcion_docente" type="text"></textarea>
                        </mat-form-field>
                        <mat-form-field class="col-md-12">
                          <mat-label>Experiencia profesional:</mat-label>
                          <textarea matInput formControlName="experiencia_docente" type="text"></textarea>
                        </mat-form-field>
                        <a mat-stroked-button color="primary" matTooltip="mira tu CV" target=”_blank”
                          href="{{datosUsuario.datos_docente.cv_docente}}">
                          Mira tu Curriculum
                        </a>
                      </mat-card-content>
                      <mat-card-actions align="end">
                        <button mat-button type="submit">Guardar cambios</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                </form>
              </div>
              <!--Informacion del Docente-->
            </div>
            <!--Fotografia del usuario-->
            <div class="col-md-4 py-2">
              <mat-card class="foto-usu">
                <mat-card-header class="py-2">
                  <mat-card-title>{{ datosUsuario.nombre_usuario }}</mat-card-title>
                </mat-card-header>
                <div *ngIf="imagenPerfilCambio">
                  <div class="alert alert-danger" role="alert">
                    Haga click en "Guardar cambios" para cambiar su foto de perfil
                  </div>
                  <img class="img-usuario" mat-card-image [src]="imagenPerfilCambio">
                </div>
                <img class="img-usuario" *ngIf="!imagenPerfilCambio" mat-card-image src="{{datosUsuario.foto_usuario}}"
                  fallimg="avatar">
                <hr>
                <mat-card-actions align="end">
                  <form (ngSubmit)="actualizarFotoUsuario($event)">
                    <form [formGroup]="archivoForm" (ngSubmit)="subirArchivo()">
                      <input class="file-input" type="file" formControlName="archivo" name="foto_usuario" #imagen hidden
                        accept=".jpg, .jpeg, .png" (change)="cambioArchivo($event)">

                      <div *ngIf="!nombreArchivo">
                        <button mat-mini-fab matTooltip="Cambia tu foto de perfil" color="warn"
                          (click)="imagen.click()">
                          <mat-icon>edit</mat-icon>
                        </button>
                      </div>
                      <br>
                      <div *ngIf="nombreArchivo">
                        <button mat-mini-fab matTooltip="Carga tu foto" color="primary" [ngClass]="{
                        button: true,
                            'is-success': true,
                            'is-large': true,
                            'is-loading': porcentaje > 0 && porcentaje < 100
                          }" [disabled]="
                            !archivoForm.valid && porcentaje > 0 && porcentaje < 100
                          ">
                          <mat-icon>upload</mat-icon>
                        </button>
                      </div>
                      <progress class="col-12" *ngIf="porcentaje > 0 && porcentaje < 100"
                        class="progress is-large is-success" value="{{ porcentaje }}" max="100">
                        {{ porcentaje }}%
                      </progress>

                      <div *ngIf="porcentaje == 100" class="alert alert-success" role="alert">
                        Archivo cargado: {{nombreArchivo}}
                      </div>
                    </form>
                    <button *ngIf="porcentaje == 100" mat-button type="submit">Guardar cambios</button>
                  </form>
                </mat-card-actions>
              </mat-card>
              <br>
              <mat-card *ngIf="datosUsuario.id_rol == 2" class="info-ins">
                <video class="video" mat-card-image src="{{datosUsuario.datos_docente.video_presentacion}}" controls
                  muted></video>
              </mat-card>
            </div>
            <!--Fotografia del usuario-->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
