.img-usuario{
  height: 450px;
  max-width: 318px;
}
.example-button {
  margin-left: 290px;
}
.example-tooltip-red {
  background: #b71c1c;
}
.example-button-row {
  margin: 0 20px 1px 290px;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
