.img-usuario {
  height: 340px;
}
.info-ins {
  height: 400px;
}
.video{
  height: 280px;
}
.mat-card {
  box-shadow: 0.5px 0.5px 20px #c3cbd3;
}
.a{
  text-decoration: none;
}
.example-button {
  outline: none;
}
.example-tooltip-red {
  background: #b71c1c;
}
.example-button-row {
  margin: 0 20px 1px 290px;
}
.mat-form-field {
  margin-top: 16px;
}
.mat-form-field {
  margin-top: 16px;
}
