.body {
  background: #03a6a6;
}
.text {
  color: #2e3d4b;
}

p {
  font-size: xx-large;
}

.long-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.cat-img-cards {
  height: 70%;
  width: 100%;
  /*min-width: 100%;
  min-height: 50%;*/
}

//Cards de los cursos
.mat-card {
  height: 420px;
  box-shadow: 8px 8px 20px #c3cbd3;
  outline: none;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.mat-card-title {
  text-align: center;
}

.mat-card-content {
  flex-grow: 1;
  overflow: auto;
  align-content: justify;
  text-align: justify;
}

a {
  color: #000;
  text-decoration: none;
}

.img-cards {
  max-height: 150px;
}
