<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div mat-card>
        <div mat-card-title align="center">
          <h2>Detalle de la Cuenta</h2>
        </div>
        <hr />
        <div mat-card-content>
          <h3>Número de la Cuenta: 10000029862592</h3>
          <h3>Nombre de la Cuenta: COMARCACM</h3>
          <h3>Banco: Banco Unión</h3>
          <h3>Nombre del originante: Carla Valencia Machado</h3>
        </div>
      </div>
    </div>
    <div class="col-md-6 py-3" align="center">
      <div mat-card>
        <!--Card del comprobante de pago-->
        <img mat-card-image [src]="imgURL" class="imagenR" *ngIf="imgURL">
        <div mat-card-actions>
          <!--Formulario para subir la imagen del comprobante-->
          <form (ngSubmit)="submitAdquirirMembresia($event)">
            <!--En este input se sube la imagen del comprobante de deposito-->
            <input type="file" name="comprobante" #imagen hidden accept="image/*"
              (change)="uploadFile($event.target.files)" />
            <div class="example-button-row">
              <button type="button" mat-raised-button class="col-10" color="accent" (click)="imagen.click()">
                Elige una imagen
              </button>
              <button mat-raised-button class="col-10" color="primary" type="submit">
                Sube tu comprobante
              </button>
            </div>
          </form>
          <!--Final del formulario-->
        </div>
        <!--Final del card de comprobante de pago-->
      </div>
    </div>
  </div>
</div>
