.mat-list-item:hover {
  font-weight: bold;
  background-color: #f0f0f0;
}
.cuerpo {
  min-height: 800px;
}
.contenidoCurso {
  position: sticky;
  top: 0;
}
.mat-line{
  width: 100%;
}
.mat-icon-button{
  outline: none;
}
.mat-raised-button{
  outline: none;
}
.textarea-descrip{
  border: none;
  outline: none;
  width: 100%;
  height: auto;
}
.textarea-descrip:focus{
outline: none;
background-color: #f0f0f0;
}
.mat-spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.btns button {
  margin: 5px;
  display: block;
  width: 100%;
}
.videoPreview {
  width: 100%;
  height: auto;
}
.texto{
  padding-left: 25px;
}

.btn-volver {
  margin: 20px;
}

.cr-paso{
  height: 40px;
  width: 40px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #ffeb77;
  font-weight: bold;
}
