<section class="banner" id="banner">
  <div class="content">
    <h1>¡HAZ UN IMPACTO EN TI!</h1>
    <p>La Academia Co Marca te permite exponer tus cursos de manera integral sin riesgo a cancelar un curso y perder
      dinero si no llegas al mínimo de estudiantes o limitarte a llegar a estudiantes que estén cerca de ti. Ahora es
      posible crear un curso en línea y ganar dinero enseñando a una cantidad ilimitada de alumnos en todo el mundo.
    </p>
    <p>¡ESCALA CON LO QUE TE APASIONA!</p>
    <!--<button class="btn btn-light px-5 py-2" *ngIf="!estado; else logged" routerLink="/register">Convierte en
      instructor</button>-->
    <a class="btn" *ngIf="!estado; else logged" routerLink="/register">Conviértete en
      instructor</a>
    <ng-template #logged>
      <!--<button class="btn btn-light px-5 py-2" (click)="openDialog()">Convierte en
        instructor</button>-->
      <a class="btn" (click)="openDialog()">Conviértete en
        instructor</a>
    </ng-template>
  </div>
</section>

<section class="about" id="about">
  <div class="row">
    <div class="col50">
      <h1 class="titleText">¡VISUALIZA<span> TU ÉXITO!</span></h1>
      <h1>Planifica tu curso</h1>
      <p>¡Organiza y empieza! Sabemos tu pasión por la enseñanza y el infinito conocimiento que tienes para entregar.
        <br><br>
        Elige un tema y elabora cada curso de la manera que desees enseñar, incluso crear cursos en varios idiomas e
        inspirar a más estudiantes, no olvides cada curso es un conjunto de capítulos grabados como tu prefieras
        interactivo o dinámico tradicional o innovador, con hojas de trabajo recursos y material que dispongas para
        apoyar a tus alumnos.
        <br><br>
        ¡Si! También puedes crear tus evaluaciones parametrizadas y al finalizar entregar a cada alumno un certificado
        digital por la satisfacción de haber cumplido con el curso.
      </p>
    </div>
    <div class="col50">
      <div class="imgBx">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2F11.png?alt=media&token=92c338c8-93e5-40f7-bee1-74451e19826a"
          alt="">
      </div>
    </div>
    <div class="col50 py-5">
      <div class="imgBx">
        <!--<img
          src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2F9.png?alt=media&token=91bbd729-2a4e-4dbc-844f-4bf1ec8d045c"
          alt="">-->
        <video controls
          src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/videos_Instructor%2F3_oficial.mp4?alt=media&token=22ab10c3-cace-49aa-9719-e586cbe7b38e"></video>
      </div>
    </div>
    <div class="col50">
      <h1 class="titleText">ORGANIZA TU CURSO <br><span>¡GRABA VIDEOS DE TUS CLASES!</span></h1>
      <p>Sabemos tu pasión por la enseñanza y la experticia de tu conocimiento, entonces a comenzar con la creación de
        tu curso.
        <br><br>
        <span>¿Cómo te ayudamos?</span>
        <br>
        Exponemos tus cursos en una plataforma especializada de aprendizaje online, con hojas de trabajo recursos y
        material que dispongas para apoyar a tus alumnos.
        <br><br>
        <span>¿Tienes un teléfono inteligente o una DSLR?</span> Agregue un micrófono y estará listo para filmar su
        primer curso
        desde su casa o donde sea que se encuentre.
        <br><br>
        Además, nuestro panel del instructor es intuitivo y te ayuda a mantenerte encaminado. Luces, CAMARA, ACCION
        <br><br>
        <span>¿Vergonzoso ante la Cámara?</span> No hay problema. Utilice un software de screencasting, te permite crear
        y entregar
        fácilmente contenido atractivo y creativo a través de videos, para hacer demostraciones de screencast.
      </p>
    </div>
    <div class="col50">
      <h1 class="titleText">CONSTRUYE TU <span>COMUNIDAD</span></h1>
      <p>La Academia Co Marca te da la oportunidad de crear tu propia COMUNIDAD exponer tus cursos a una cantidad
        ilimitada de personas en el mundo y a partir de la interacción crear instrumentos que estrechen ese vínculo y
        dirijas el público objetivo a una relación laboral de mayor impacto para desarrollar la interactividad.
        <br><br>
        ¡Nuestro foro interactivo! Es un foro por cada clase donde podrás interactuar de manera directa con cada uno de
        tus alumnos, escribir mensajes y responder a cada una de sus preguntas. ¡Porque los estudiantes, necesitan y
        esperan un <span>FEEDBACK</span> de su profesor!
      </p>
    </div>
    <div class="col50 py-5">
      <div class="imgBx">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2F3_1.png?alt=media&token=b7aea19b-703f-4d7e-a227-606196cf4547"
          alt="">
      </div>
    </div>
  </div>
</section>
<section class="experts" id="experts">
  <div class="title">
    <h2 class="titleText">DESCUBRE TU <span> POTENCIAL</span></h2>
  </div>
  <div class="content">
    <div class="box">
      <div class="imgBx">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2F1.jpeg?alt=media&token=84b9c4fc-9455-41bd-9979-7d53dafcc8bb"
          alt="">
      </div>
      <div class="text">
        <h2 class="titleText">Sé parte de nuestra comunidad</h2>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2F2.png?alt=media&token=59859dce-8f39-4e13-9e22-86d6729f5710"
          alt="">
      </div>
      <div class="text">
        <h2 class="titleText">Inspira a tus estudiantes</h2>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2F3.png?alt=media&token=3c522df3-b63c-411f-95f3-17204b59b808"
          alt="">
      </div>
      <div class="text">
        <h2 class="titleText">Gana tu dinero</h2>
      </div>
    </div>
  </div>
</section>

<!--<section class="testimonials" id="testimonials">
  <div class="title white">
    <h1 class="titleText">EXPANDE <span> TU ALCANCE!</span></h1>
  </div>
  <div class="content">
    <div class="box">
      <div class="imgBx">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2Fprofile-3.jpg?alt=media&token=164bc1dd-7be3-4ca3-a9ec-9389647cb710"
          alt="">
      </div>
      <div class="text">
        <p>“Lo que más me gusta de la Academia es las herramientas de gestión para instructores y alumnos, la
          comunicación directa de profesor alumno y el trato directo que
          hay”.</p>
        <h3>Mauricio López</h3>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2Fprofile-pic1.jpg?alt=media&token=087de49e-83ac-4072-8db5-30a473fe0784"
          alt="">
      </div>
      <div class="text">
        <p>“Es muy fácil de usar tanto para estudiantes como para profesores. Y te deja gestionar totalmente el
          contenido. Además me permite decidir el precio y comunicarme fácilmente con mis
          estudiantes”.</p>
        <h3>Leticia Rodriguez</h3>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2Fprofile-4.jpg?alt=media&token=4c0b9f41-272b-47d5-b222-4a99ca0e0044"
          alt="">
      </div>
      <div class="text">
        <p>“Es muy fácil de usar tanto para estudiantes como para profesores. Y te deja gestionar totalmente el
          contenido. Además me permite decidir el precio y comunicarme fácilmente con mis
          estudiantes”.</p>
        <h3>Daniel Navarro</h3>
      </div>
    </div>
  </div>
</section>-->
