<section class="banner" id="banner">
  <div class="content">
    <h1>¡HAZ UN IMPACTO!</h1>
    <p>Un inicio de sesión, pero cientos de integraciones de LMS para crear cursos personalizados que respalden su forma de enseñar.
    </p>
    <!--<button class="btn btn-light px-5 py-2" *ngIf="!estado; else logged" routerLink="/register">Convierte en
      instructor</button>-->
    <a class="btn" *ngIf="!estado; else logged" routerLink="/register">Conviértete en
      instructor</a>
    <ng-template #logged>
      <!--<button class="btn btn-light px-5 py-2" (click)="openDialog()">Convierte en
        instructor</button>-->
      <a class="btn" (click)="openDialog()">Conviértete en
        instructor</a>
    </ng-template>
  </div>
</section>

<section class="about" id="about">
  <div class="row">
    <div class="col50">
      <h1 class="titleText">¡VISUALIZA<span> TU ÉXITO!</span></h1>
      <h1>Comienza tu formación E-Learning cuando quieras</h1>
      <p>
        En la formación presencial, los cursos se rigen por fechas y horarios muy específicos. Sin embargo, en la
        formación e-Learning los alumnos cuentan con la ventaja de acceder a su curso en cualquier momento, en el
        momento que mejor le parezca sin ningún tipo de ataduras. El único requisito que tienen para poder acceder al
        contenido del curso es tener conexión a Internet.
      </p>
    </div>
    <div class="col50">
      <div class="imgBx">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/LMS%2F10.png?alt=media&token=211fb83c-5548-43d7-9736-2e55875a1924"
          alt="">
      </div>
    </div>
    <!--<div class="col50 py-5">
      <div class="imgBx">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2F9.png?alt=media&token=91bbd729-2a4e-4dbc-844f-4bf1ec8d045c"
          alt="">
        <video controls
          src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/videos_Instructor%2F3_oficial.mp4?alt=media&token=22ab10c3-cace-49aa-9719-e586cbe7b38e"></video>
      </div>
    </div>
    <div class="col50">
      <h1 class="titleText">ORGANIZA TU CURSO <br><span>¡GRABA VIDEOS DE TUS CLASES!</span></h1>
      <p>Sabemos tu pasión por la enseñanza y la experticia de tu conocimiento, entonces a comenzar con la creación de
        tu curso.
        <br><br>
        <span>¿Cómo te ayudamos?</span>
        <br>
        Exponemos tus cursos en una plataforma especializada de aprendizaje online, con hojas de trabajo recursos y
        material que dispongas para apoyar a tus alumnos.
        <br><br>
        <span>¿Tienes un teléfono inteligente o una DSLR?</span> Agregue un micrófono y estará listo para filmar su
        primer curso
        desde su casa o donde sea que se encuentre.
        <br><br>
        Además, nuestro panel del instructor es intuitivo y te ayuda a mantenerte encaminado. ¡Luces, CAMARA, ACCION!
      </p>
    </div>-->
    <div class="col50">
      <div class="imgBx">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/LMS%2F11.png?alt=media&token=21999b55-b310-4821-8697-c498affe9688"
          alt="">
      </div>
    </div>
    <div class="col50 py-5">
      <h1 class="titleText">TODO AL ALCANCE DE UN <span>CLIC!</span></h1>
      <p>Todo lo que está a tu alcance puedes tenerlo con un sólo click, ya sea a través de tu ordenador, smartphone o
        tablet. El sector de la formación también se ha pasado al entorno digital. <br>
        <span>¿Cuántos mails recibes de cursos online?</span> Sin duda, esta modalidad se ha convertido en una de las
        favoritas para
        aquellos que quieran renovar sus conocimientos en algún área, o para profesionales que deben compatibilizar su
        trabajo con la formación, o estudiantes que no tienen suficiente solvencia económica como para desplazarse a
        otra ciudad.
      </p>
    </div>
  </div>
</section>
<!--<section class="experts" id="experts">
  <div class="title">
    <h2 class="titleText">DESCUBRE TU <span> POTENCIAL</span></h2>
  </div>
  <div class="content">
    <div class="box">
      <div class="imgBx">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2FPROF.png?alt=media&token=ce2d3916-02bc-4949-9477-89d84d2b6f9c"
          alt="">
      </div>
      <div class="text">
        <h2 class="titleText">Sé parte de nuestra comunidad</h2>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2FPROF2.png?alt=media&token=6030d41c-9e25-465a-a199-39274b377b25"
          alt="">
      </div>
      <div class="text">
        <h2 class="titleText">Inspira a tus estudiantes</h2>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2FPROF3.png?alt=media&token=d8c3f594-2661-4318-b508-d9b2d560f2c7"
          alt="">
      </div>
      <div class="text">
        <h2 class="titleText">Gana tu dinero</h2>
      </div>
    </div>
  </div>
</section>-->

<!--<section class="testimonials" id="testimonials">
  <div class="title white">
    <h1 class="titleText">EXPANDE <span> TU ALCANCE!</span></h1>
  </div>
  <div class="content">
    <div class="box">
      <div class="imgBx">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2Fprofile-3.jpg?alt=media&token=164bc1dd-7be3-4ca3-a9ec-9389647cb710"
          alt="">
      </div>
      <div class="text">
        <p>“Lo que más me gusta de la Academia es las herramientas de gestión para instructores y alumnos, la
          comunicación directa de profesor alumno y el trato directo que
          hay”.</p>
        <h3>Mauricio López</h3>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2Fprofile-pic1.jpg?alt=media&token=087de49e-83ac-4072-8db5-30a473fe0784"
          alt="">
      </div>
      <div class="text">
        <p>“Es muy fácil de usar tanto para estudiantes como para profesores. Y te deja gestionar totalmente el
          contenido. Además me permite decidir el precio y comunicarme fácilmente con mis
          estudiantes”.</p>
        <h3>Leticia Rodriguez</h3>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2Fprofile-4.jpg?alt=media&token=4c0b9f41-272b-47d5-b222-4a99ca0e0044"
          alt="">
      </div>
      <div class="text">
        <p>“Es muy fácil de usar tanto para estudiantes como para profesores. Y te deja gestionar totalmente el
          contenido. Además me permite decidir el precio y comunicarme fácilmente con mis
          estudiantes”.</p>
        <h3>Daniel Navarro</h3>
      </div>
    </div>
  </div>
</section>-->
