.img-svg path {
  fill: #fff;
}
.text {
  color: #2E3D4B;
}

//Cards de los cursos
.example-card {
  align-content: center;
  text-align: center;
  width: 100%;
  justify-content: center;
  height: 500px;
}

a {
  color: #000;
  text-decoration: none;
}
.img-cards {
  max-height: 200px;
}
