.body {
  background: #f1c40f;
}

.content {
  min-height: 600px;
}

.text {
  color: #2e3d4b;
}

p {
  font-size: xx-large;
}

.hr {
  border: 0.2px solid #03738c;
  border-radius: 3px;
  width: auto;
}

.long-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

//Cards de los docentes
.mat-card {
  height: 440px;
  box-shadow: 8px 8px 20px #c3cbd3;
  outline: none;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.mat-card-content {
  color: #808B96;
  flex-grow: 1;
  overflow: auto;
  align-content: justify;
  text-align: justify;
}

a {
  color: #000;
  text-decoration: none;
}
.img-cards {
  height: 200px;
  outline: none;
}

.img-svg path {
  fill: #fff;
}
