<div class="container py-5">
  <div class="row justify-content-center pt-5">
    <h1 class="lead">Nuestros Instructores</h1>
  </div>
  <hr />
  <!--Presentacion del usuario-->
  <div class="row justify-content-center">
    <div class="col-md-3" *ngFor="let item of docente">
      <!--Cards de los nuevos cursos-->
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title align="center">
            <a class="lead" routerLink="/instructores/presentacion-docente/{{ item.id_usuario }}">{{ item.nombre_usuario
              }}</a>
          </mat-card-title>
        </mat-card-header>
        <hr>
        <!--  style="height: 150px; width:auto;"-->
        <img src="{{item.foto_usuario}}" routerLink="/instructores/presentacion-docente/{{ item.id_usuario }}"
          class="img-cards" fallimg="avatar" />
        <mat-card-content align="center">
          <div class="container py-2" [ngClass]="{'long-text': texto}" (click)="texto = !texto">
            <mat-card-subtitle>
              <h3>Correo: {{item.correo_usuario}}</h3>
              <h3>Descripción: {{item.datos_docente.descripcion_docente}}</h3>
            </mat-card-subtitle>
          </div>
        </mat-card-content>
      </mat-card>
      <br>
      <!--Final de los Cards - nuevos cursos-->
    </div>
    <br>
  </div>
  <br>
</div>
