<div class="container-fluid body">
  <!--Fila que ocupa la primera seccion-->
  <div class="row sec-img py-3">
    <div class="container-fluid sec1 py-5">
      <div class="row py-5">
        <div class="col-md-6 justify-content-center align-self-center py-5">
          <div class="card bg-transparent border-0">
            <div class="card-body bg-transparent text-center">
              <h1>
                <p class="display-4 lead title1">APRENDA EN LINEA DE LOS LIDERES EN EDUCACION</p>
              </h1>
              <h1>
                <p class="text-white lead">Amplíe sus habilidades e interactúe con nuestros cursos
                  flexibles en línea.</p>
              </h1>
              <a mat-stroked-button class="title1" routerLink="/curso/cursos-general">Explora todos nuestros cursos</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 img">
        </div>
      </div>
    </div>
    <!--Fila que ocupa la primera seccion-->
  </div>

  <!--Listado de Cursos en general-->
  <div class="container-fluid">
    <div class="container py-4">
      <hr class="hr">
      <div class="row justify-content-center">
        <div class="col-6">
          <p class="lead">Cursos</p>
        </div>
        <div class="col-6" align="end">
          <button mat-stroked-button routerLink="/curso/cursos-general" matTooltip="Descubre nuevos cursos" align="end"
            color="warn">Ver <mat-icon>add_circle_outline</mat-icon></button>
        </div>
      </div>
      <hr class="hr">
    </div>
    <div class="row justify-content-center">
      <!--Spinner de carga-->
      <div *ngIf="!curso" class="col-12">
        <!--<mat-spinner></mat-spinner>-->
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </div>
      <!--Spinner de carga-->
      <div class="content-card">
        <div class="col-md-2" *ngFor="let item of curso; let i = index">
          <!--Cards de los nuevos cursos-->
          <mat-card class="mat-card-curso" *ngIf="i < 20">
            <img mat-card-image src="{{ item.imagen_curso }}" routerLink="/curso/curso-detalle/{{ item.id_curso }}"
              class="img-cards" fallimg />
            <div>
              <hr class="hr">
            </div>
            <mat-card-header>
              <mat-card-title>
                <a class="lead" routerLink="/curso/curso-detalle/{{ item.id_curso }}">{{ item.nombre_curso }}</a>
              </mat-card-title>
              <mat-card-subtitle>Precio: Bs. {{ item.precio}}</mat-card-subtitle>
            </mat-card-header>
            <!--<mat-card-content>
              <div class="container descripcion" [ngClass]="{'long-text': texto}" (click)="texto = !texto">
                {{ item.descripcion_curso }}
              </div>
            </mat-card-content>-->
            <div class="container">
              <div class="row" *ngIf="item.etiquetas_curso">
                <!--<mat->card-subtitle>Categorias pertenecientes:</mat-card-subtitle>-->
                <div *ngFor="let etiqueta of item.etiquetas_curso" class="col-md">
                  <a routerLink="/curso/cursos-categorias/{{etiqueta.id_etiqueta}}">{{etiqueta.nombre_etiqueta}}</a>
                </div>
              </div>
            </div>
          </mat-card>
          <!--Final de los Cards - nuevos cursos-->
        </div>
      </div>
    </div>
  </div>
  <!--Final Cursos en general-->

  <!--Listado de Preguntas Frecuentes-->
  <div class="row preguntas secp">
    <div class="container-fluid">
      <div class="container">
        <hr class="pr">
        <div class="row py-3">
          <div class="col-6">
            <p class="lead">¿Tienes preguntas?</p>
          </div>
          <div class="col-6" align="end">
            <mat-icon color="warn">help_outline</mat-icon>
          </div>
        </div>
        <hr class="pr">
      </div>

      <div class="container py-3">
        <div class="row justify-content-center">
          <div *ngIf="!pregunta">
            <mat-spinner></mat-spinner>
          </div>
          <div class="col-md-12">
            <mat-accordion multi>
              <mat-expansion-panel *ngFor="let item of pregunta, first as isFirst ; let i = index"
                (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="isFirst">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{i+1}}. {{item.texto_pregunta}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <hr class="hr">
                <mat-list *ngFor="let res of  item.pregunta_respuesta">
                  <!--reemplazar en lugar del ngfor de arriba
                      *ngFor="let res of item.texto_respuesta_pregunta"-->
                  <mat-list-item role="listitem">
                    <mat-icon color="warn">done_all </mat-icon> {{ res.texto_respuesta_pregunta }}
                  </mat-list-item>
                </mat-list>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Listado de Preguntas Frecuentes-->
  <div class="container py-5">
    <div class="row justify-content-center">
      <!--Fila que ocupa el carousel y titulos-->
      <!--Carousel con imagenes-->
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/img/Slides-image/Crema Negro Blanco Ventas Presentación.png" class="d-block w-100"
              alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/Slides-image/10 (1).png " class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/Slides-image/12.png " class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/Slides-image/11.png " class="d-block w-100" alt="...">
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only ">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only ">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--Catogorias Principales-->
  <div class="container">
    <hr class="hr">
    <div class="row justify-content-center py-3">
      <div class="col-6">
        <p class="lead">Categorías</p>
      </div>
      <div class="col-6" align="end">
        <button mat-stroked-button routerLink="/curso/categorias" matTooltip="Descubre todas las categorias" align="end"
          color="warn">Ver <mat-icon>add_circle_outline</mat-icon></button>
      </div>
    </div>
    <hr class="hr">
  </div>

  <div class="container">
    <!--Cards de Categorias-->
    <div class="row justify-content-center py-3">
      <div *ngIf="!etiqueta">
        <mat-spinner></mat-spinner>
      </div>
      <div class="col-md-4" *ngFor="let item of etiqueta">
        <!--; let i = index *ngIf="i < 5" -->
        <mat-card class="example-card" routerLink="/curso/cursos-categorias/{{item.id_etiqueta}}">
          <img mat-card-image src="{{item.imagen_etiqueta}}" routerLink="/curso/cursos-categorias/{{item.id_etiqueta}}"
            class="img-cards" fallimg="avatar" />
          <hr>
          <mat-card-header>
            <mat-card-title>
              <a class="lead center"
                routerLink="/curso/cursos-categorias/{{item.id_etiqueta}}">{{item.nombre_etiqueta}}</a>
            </mat-card-title>
          </mat-card-header>
        </mat-card>
        <!--Final de Categorias-->
      </div>
    </div>
  </div>

  <!--Profesionales y su descripcion-->
  <div class="container">
    <hr class="hr">
    <div class="row justify-content-center py-3">
      <div class="col-6">
        <p class="lead">Instructores</p>
      </div>
      <div class="col-6" align="end">
        <button mat-stroked-button routerLink="/instructores/listado-instructores"
          matTooltip="Descubre a nuestros instructores" align="end" color="warn">Ver <mat-icon>add_circle_outline
          </mat-icon></button>
      </div>
    </div>
    <hr class="hr">
  </div>
  <div class="container py-3">
    <div class="row justify-content-center">
      <div *ngIf="!docente">
        <mat-spinner></mat-spinner>
      </div>
      <div class="col-md-3" *ngFor="let doc of docente;">
        <mat-card class="card-doc" routerLink="/docente/presentacion-docente/{{ doc.id_usuario }}">
          <img mat-card-image src="{{ doc.foto_usuario }} "
            routerLink="/instructores/presentacion-docente/{{ doc.id_usuario }}" class="img-cards-testimonios"
            alt="{{ doc.nombre_usuario }}" fallimg="avatar" />
          <hr class="hr">
          <mat-card-header>
            <mat-card-title>
              {{ doc.nombre_usuario }}
            </mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
  <!--Fin Profesionales y testimonios-->

  <!--<div class="row preguntas">
    <div class="container-fluid">
      <div class="container">
        <hr class="pr">
        <div class="row py-3">
          <div class="col-6">
            <p class="lead">¿Tienes preguntas?</p>
          </div>
          <div class="col-6" align="end">
            <mat-icon color="warn">help_outline</mat-icon>
          </div>
        </div>
        <hr class="pr">
      </div>-->
  <!--Listado de Preguntas Frecuentes-->
  <!--<div class="container py-3">
        <div class="row justify-content-center">
          <div *ngIf="!pregunta">
            <mat-spinner></mat-spinner>
          </div>
          <div class="col-md-12">
            <mat-accordion multi>
              <mat-expansion-panel *ngFor="let item of pregunta, first as isFirst ; let i = index"
                (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="isFirst">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{i+1}}. {{item.texto_pregunta}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <hr class="hr">
                <mat-list *ngFor="let res of  item.pregunta_respuesta">-->
  <!-- reemplazar en lugar del ngfor de arriba
                    *ngFor="let res of item.texto_respuesta_pregunta"-->
  <!--<mat-list-item role="listitem">
                    <mat-icon color="warn">done_all </mat-icon> {{ res.texto_respuesta_pregunta }}
                  </mat-list-item>
                </mat-list>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>-->
  <!--Listado de Preguntas Frecuentes-->
  <!--</div>
  </div>-->
</div>

<!--Final Catogorias Principales-->
<!--<div class="section " id="novedades "></div>-->
