h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Montserrat", sans-serif;
}

#banner {
  min-height: 100vh;
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  color: #fff;
  padding-top: 5%;

  .content {
    margin-top: 150px;
    position: relative;

    h1 {
      font-size: 4rem;
      color: #043f8f;
      font-weight: bold;
    }

    h2 {
      font-size: 3rem;
      color: #043f8f;
    }

    h3 {
      font-size: 2rem;
      color: #fff;
      margin: 1rem 0;
      font-weight: bold;
    }
  }

  button {
    width: 180px;
    color: #fff;
    font-size: 18px;
    padding: 12px 0;
    background: #ff6462;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    transition: background-color 0.5s;
    cursor: pointer;

    &:hover {
      background: #fff;
      color: #000;
      border-width: 3px;
      border-style: solid;
      border-color: #ff6462;
      border-radius: 20px;
    }
  }
}

.container {
  overflow: hidden;
}

.sliding-background {
  height: 500px;
  width: 5076px;
}

.sliding-background {
  background: url("../../../../../assets/img/inicio/8.png") no-repeat;
  animation: slide 40s alternate infinite;
}

@keyframes slide {
  0%,
  100% {
    background: url("../../../../../assets/img/inicio/9.png") no-repeat;
  }
  20% {
    background: url("../../../../../assets/img/inicio/10.png") no-repeat;
  }
  40% {
    background: url("../../../../../assets/img/inicio/8.png") no-repeat;
  }
  60% {
    background: url("../../../../../assets/img/inicio/9.png") no-repeat;
  }
  80% {
    background: url("../../../../../assets/img/inicio/10.png") no-repeat;
  }
}

.promo-title {
  font-size: 40px;
  font-weight: 500;
  margin-top: 100px;
}

#banner a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

#home {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(
      76.34deg,
      #ffffff 50.45%,
      rgba(196, 196, 196, 0.8) 52.49%
    ),
    url(https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/st6_500x500.jpg?alt=media&token=116e89bc-4158-43e9-8bd2-9b09861a3436)
      no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: background 20s alternate infinite;

  .content {
    position: relative;

    h1 {
      font-size: 4rem;
      color: #043f8f;
      font-weight: bold;
    }

    h2 {
      font-size: 3rem;
      color: #043f8f;
    }

    h3 {
      font-size: 2rem;
      color: #424949;
      margin: 1rem 0;
      font-weight: bold;
    }
  }

  button {
    width: 180px;
    color: #fff;
    font-size: 18px;
    padding: 12px 0;
    background: #ff6462;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    transition: background-color 0.5s;
    cursor: pointer;

    &:hover {
      background: #fff;
      color: #000;
      border-width: 3px;
      border-style: solid;
      border-color: #ff6462;
      border-radius: 20px;
    }
  }
}


.site-section {
  padding: 4.2em 0;
  position: relative;
}

.section-title {
  font-size: 2.5rem;
  color: #000;
  margin-bottom: 1.8rem;
  font-weight: 900;
}

.courses-title {
  padding-bottom: 13rem;
<<<<<<< HEAD
  background: #fff;
  //background-image: linear-gradient(to right, #a517ba, #5f1782);
=======
  background: #043f8f;
  //background: #673AB7;
>>>>>>> 852444de6595ba258b3cfbd1f0b3403b6162e8be
}
.courses-title .section-title {
  color: #fff;
}

.courses-entry-wrap {
  margin-top: -360px;
}

.course {
  -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  top: 0;
  position: relative;
  height: 500px;
  margin-left: 10px;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1rem), 1fr);
}
.course .course-inner-text {
  position: relative;
  padding-top: 35px !important;
}
.course .course-price {
  position: absolute;
  padding: 10px 15px;
  background: #ff6462;
  color: #fff;
  top: -20px;
  right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.course .meta {
  font-size: 0.9rem;
  display: block;
  margin-bottom: 0.9rem;
}
.course .meta span {
  margin-right: 0.5rem;
}
.course h3 {
  font-size: 1.15rem;
  color: #000;
}
.course .stats {
  font-size: 0.9rem;
}
.course:hover {
  top: -10px;
  -webkit-box-shadow: 0 2px 22px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 22px -1px rgba(0, 0, 0, 0.3);
}

.body {
  background-color: #fff;
  height: auto;
  overflow-x: hidden;
}

.campus {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus-col img {
  width: 100%;
  height: auto;
  display: block;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background: rgba(4, 151, 158, 0.5);
}
.layer h3 {
  width: 100%;
  font-weight: 700;
  color: #fff;
  font-size: 25px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  font-family: "Montserrat";
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

.cta {
  margin: 100px auto;
  width: 80%;
  height: 800px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2F01.png?alt=media&token=d80a9293-0257-4339-8081-77376315e2c4);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h2 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

.testimonials {
  background: linear-gradient(rgba(4, 63, 143, 0.5), rgba(4, 63, 143, 0.5)),
    url(https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2Fst13_1200x1200.jpg?alt=media&token=27b79c50-bb62-4fb7-b253-c31a2d9a2732);
  background-size: cover;
}

.white .titleText,
.white p {
  color: #fff;
}

.testimonials .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}

.testimonials .content .box {
  width: 340px;
  height: 400px;
  margin: 20px;
  padding: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonials .content .box .imgBx {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 8px 8px 20px #c3cbd3;
}

.testimonials .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials .content .box .text {
  text-align: center;
}

.testimonials .content .box .text p {
  color: #666;
  font-style: italic;
}

.testimonials .content .box .text h3 {
  margin-top: 20px;
  color: #111;
  font-size: 1em;
  color: #ff0157;
  font-weight: 600;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a:hover {
  text-decoration: none;
}

.a {
  color: #f3f3f3;
}

.mat-accordion,
.mat-expansion-panel {
  height: auto;
}

.mat-accordion,
.mat-expansion-panel,
.mat-list {
  background-color: #f3f3f3;
}

mat-expansion-panel-header,
mat-panel-title,
mat-list,
mat-list-item,
h3 {
  font-weight: bold;
}

.text {
  color: #2e3d4b;
}
.long-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.mat-card-content {
  flex-grow: 1;
  overflow: auto;
  align-content: justify;
  text-align: justify;
}

a {
  color: #000;
  text-decoration: none;
}

.img-cards {
  height: 150px;
}

.img-svg path {
  fill: #fff;
}

@media only screen and (max-device-width: 480px) {

  video {
    width: 100%;
    background-size: contain;
  }

  #home {
    .content {
      position: relative;

      h1 {
        font-size: 3rem;
        color: #043f8f;
        font-weight: bold;
      }

      h2 {
        font-size: 2rem;
        color: #043f8f;
      }

      h3 {
        font-size: 2rem;
        color: #424949;
        margin: 1rem 0;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  .section-title {
    font-size: 2rem;
    color: #000;
    margin-bottom: 2rem;
    font-weight: 1000;
  }

  .cta {
    height: auto;
    .mat-accordion,
    .mat-expansion-panel,
    .mat-expansion-panel-header {
      height: auto;
    }
    .mat-accordion,
    .mat-expansion-panel,
    .mat-expansion-panel-header,
    .mat-panel-title {
      text-align: center;

      h3 {
        font-size: 0.9rem;
      }
    }
    .mat-accordion,
    .mat-expansion-panel,
    .row {
      text-align: justify;
    }
  }

  .campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
  }
  .campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
  }
  .campus-col img {
    width: 100%;
    height: auto;
    display: block;
  }
  .layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
  }
  .layer:hover {
    background: rgba(4, 151, 158, 0.5);
  }
  .layer h3 {
    width: 100%;
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-family: "Montserrat";
  }
  .layer:hover h3 {
    bottom: 49%;
    opacity: 1;
  }
}
