<div class="container">
  <mat-card>
    <div class="d-flex justify-content-between">
      <h1>Panel de Encuestas</h1>
      <button mat-raised-button matTooltip="Crea una encuesta" color="primary" (click)="crearEncuesta()">
        Crear nuevo<mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card>
  <hr>
  <mat-card>
    <mat-card-header>
      <div class="row col-md-12">
        <mat-form-field>
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. tutorial" #input>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="table-responsive-lg table-hover">
          <!-- Progress Column -->
          <ng-container matColumnDef="id_rol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Para </th>
            <td mat-cell *matCellDef="let row"> {{row.id_rol}} </td>
          </ng-container>
          <ng-container matColumnDef="texto_encuesta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo de la encuesta </th>
            <td mat-cell *matCellDef="let row"> {{row.texto_encuesta}} </td>
          </ng-container>
          <!-- Color Column -->
          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Creado </th>
            <td mat-cell *matCellDef="let row"> {{row.created_at | date:"medium"}} </td>
          </ng-container>
          <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Actualizado </th>
            <td mat-cell *matCellDef="let row"> {{row.updated_at | date:"medium"}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="expandedElement = expandedElement === row ? null : row"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">no hay ningun dato con tu busqueda "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
