.body {
  background: linear-gradient(to left, #c70039, #ff5733, #f25e3d);
}

.hr{
  border: 0.2px solid #f25e3d;
    border-radius: 3px;
    width: auto;
}

.card{
  //border: 0.2px solid #f25e3d;
  box-shadow: 8px 8px 20px #c3cbd3;
}

.mat-card{
  box-shadow: 8px 8px 20px #c3cbd3;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.card-ventajas{
  border: 0.2px solid #f25e3d;
  box-shadow: 8px 8px 20px #c70039;
  background: #f3f3f3;
}

.info{
  background: #2C3E50;
}

.img{
border-radius: 1px;
}
