<div class="container-fluid border py-2">
  <div class="container py-3">
    <div class="row">
      <div class="col-md-7">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/LMS%2F7%20(2).png?alt=media&token=3a7fa055-211d-4f92-8422-d233a1c12a6a"
          alt="imagen2" class="img-fluid">
      </div>
      <div class="col-md-5 align-self-center">
        <div class="card">
          <div class="card-body text-center text-secondary">
            <h2 class="card-title">¿Quiénes somos?</h2>
            <h1>
              <p class="lead" align="justify">
                Instituciones que requieren de una plataforma de aprendizaje en línea, o Learning Management System
                (LMS), propia de su institución única y personalizada con características de enseñanza a un sector
                autónomo y administrado por cada instructor con hosting y dominio propio.
              </p>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-4">
    <div class="row justify-content-center">
      <div class="text-center">
        <h1 class="section-title">
          ¿A quiénes nos dirigimos?
        </h1>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-card>
          <img mat-card-image
            src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/LMS%2F6.png?alt=media&token=ca42f988-3f6b-4a80-927a-e59edd2536c9">
          <mat-card-content>
            <h2 class="card-title">Lleva tu organización al siguiente nivel</h2>
            <h3>
              <p class="card-text lead" align="justify">Instituciones que requieren de una plataforma de aprendizaje en
                línea, o Learning Management System (LMS), propia de su institución, única y personalizada con
                características de enseñanza a un sector autónomo y administrado.</p>
            </h3>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-6">
        <mat-card>
          <img mat-card-image
            src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/LMS%2F5.png?alt=media&token=6131c2f6-449f-4d40-b43e-5e8634287aa3">
          <mat-card-content>
            <h2 class="card-title">Servicio personalizado</h2>
            <h3>
              <p class="card-text lead" align="justify">Un modelo de prestación y asistencia de servicio de una
                plataforma personalizada a su institución bajo autonomía y administración propia bajo el soporte y
                copyright by Academia Co Marca.</p>
            </h3>
          </mat-card-content>
        </mat-card>
      </div>
    </div>


  </div>
</div>

<div class="container-fluid body py-5">
  <br>
  <div class="row justify-content-center">
    <div class="text-center">
      <h1 class="section-title">
        Ventajas de la Academia CO MARCA
      </h1>
      <br>
    </div>
  </div>
  <div class="container ">
    <div class="row">
      <!--VENTAJAS ACA-->
      <div class=" col-md-4">
        <div class="card-ventajas">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/LMS%2F2.png?alt=media&token=eb2b8670-6a38-4660-89e3-e28476efe895"
            class="img-fluid" alt=" ">
          <div class="card-body">
            <h2 class="card-title">Aprendizaje activo</h2>
            <h2>
              <p class="card-text lead " align="center">Se trata de una formación que requiere de mucho esfuerzo por
                parte del alumno, ya que no cuenta con la “presión” de tener que ir a clase. Se trata de una de
                modalidad donde el alumno se hace a sí mismo, aprende a responsabilizarse de su formación por iniciativa
                propia.</p>
            </h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-ventajas">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/LMS%2F8.png?alt=media&token=842a5596-d6b6-4e73-bf9a-9418227694fa"
            class="img-fluid" alt=" ">
          <div class="card-body">
            <h2 class="card-title">Seguimiento exhaustivo del proceso de formación</h2>
            <h2>
              <p class="card-text lead" align="center">Existen las diferentes plataformas virtuales donde puede
                contactar en todo momento con el tutor, al mismo tiempo que éste puede llevar un control de la actividad
                del alumno: participación en foros, actividad en la plataforma, cuándo se conecta, evaluación del grado
                de satisfacción del curso.</p>
            </h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-ventajas">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/LMS%2F12.png?alt=media&token=6486a12e-aded-42b6-b2b8-13b716422bac"
            class="img-fluid" alt=" ">
          <div class="card-body">
            <h2 class="card-title">Flexibilidad</h2>
            <h2>
              <p class="card-text lead" align="center">Esta es una de las principales ventajas del e-learning: la
                flexiblidad de horarios. El alumno es quien decide cuándo estudiar, cuándo descargar el programa.
              </p>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--CONTACTS-->
<!--<div class="container-fluid info text-white py-5">
  <form>
    <div class="row">
      <div class="col-md-4">
        <h3 class="lead text-center">¿Necesitas más información?
          <br> Comunícate con nosotros.
        </h3>
      </div>
      <div class="col-md-4">
        <input type="email" id="email" class="form-control form-control-lg" placeholder="Ingresa tu correo electrónico">
      </div>
      <div class="col-md-4">
        <button onclick="myFunction()" class="btn btn-info btn-lg btn-block">Enviar</button>
      </div>
    </div>
  </form>
</div>-->
<!--END CONTACTS-->

<!--END FORMULARIO-->
<div *ngIf="datosUsuario">
  <div class="container py-3" *ngFor="let item of encuesta">
    <div class="card" *ngFor="let rol of item.roles">
      <div *ngIf="datosUsuario.id_rol == rol.id_rol">
        <h3 class="card-header text-center">Realiza esta pequeña encuesta: {{item.texto_encuesta}}</h3>
        <div class="card-body justify-content-center align-self-center">
          <!--Formulario de registro-->
          <form [formGroup]="formRegistrarRespuesta" (ngSubmit)="submitRegistrar($event)" autocomplete="off">
            <div class="row justify-content-center text-align-justify"
              *ngFor="let preguntas of item.encuesta_pregunta; let i = index">
              <legend class="col-form-label col-7">
                {{ i + 1 }}. {{preguntas.texto_encuesta_pregunta}}</legend>
              <div class="col-5">
                <mat-radio-group aria-label="Select an option" formControlName="texto_encuesta_respuesta">
                  <mat-radio-button type="radio" name="texto_encuesta_respuesta" value="si"
                    (click)="getIdP(preguntas.id_encuesta_pregunta)">
                    Si</mat-radio-button>
                  <mat-radio-button type="radio" name="texto_encuesta_respuesta" value="no"
                    (click)="getIdP(preguntas.id_encuesta_pregunta)">
                    No</mat-radio-button>
                </mat-radio-group>
                <div class="row justify-content-end" align="end">
                  <button mat-icon-button color="primary" type="submit" [disabled]="formRegistrarRespuesta.invalid">
                    <mat-icon>send</mat-icon>
                  </button>
                </div>
              </div>

            </div>

          </form>
        </div>
      </div>

      <!--<mat-accordion class="example-headers-align" *ngFor="let preguntas of item.encuesta_pregunta; let i = index">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ i + 1 }}. {{preguntas.texto_encuesta_pregunta}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="container-fluid">
          <form [formGroup]="formRegistrarRespuesta" (ngSubmit)="submitRegistrar($event)" autocomplete="off">
            <div class="row justify-content-center text-align-justify">-->
      <!-- ID que recibimos de firebase-->
      <!--<div class="col-5">-->
      <!--<div class="form-group">
                    <input id="si" type="radio" value="si" name="texto_encuesta_respuesta"
                      formControlName="texto_encuesta_respuesta">
                    <input id="no" type="radio" value="no" name="texto_encuesta_respuesta"
                      formControlName="texto_encuesta_respuesta">
                  </div>-->
      <!-- <mat-radio-group aria-label="Select an option" formControlName="texto_encuesta_respuesta">
                <mat-radio-button type="radio" name="texto_encuesta_respuesta" value="si"
                  (click)="getIdP(preguntas.id_encuesta_pregunta)">
                  Si</mat-radio-button>
                <mat-radio-button type="radio" name="texto_encuesta_respuesta" value="no"
                  (click)="getIdP(preguntas.id_encuesta_pregunta)">
                  No</mat-radio-button>
              </mat-radio-group>
            </div>-->
      <!--</div>-->
      <!-- <button type="submit" mat-raised-button class="btn btn-info col-12">Envia tu respuesta!</button>
          </form>
        </div>
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>-->


    </div>
  </div>
</div>
<!--END FORMULARIO-->
