@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.body {
  background:
  //linear-gradient(rgba(4, 63, 143, 0.2), rgba(4, 63, 143, 0.2)),
    //linear-gradient(rgb(4, 63, 143, 0.2), rgba(4, 63, 143, 0.2)),
    url(https://firebasestorage.googleapis.com/v0/b/lms-academia-a582f.appspot.com/o/images%2Fst2.jpg?alt=media&token=610024f7-32bb-49ca-970b-6a4ff27b5f12);
  //linear-gradient(to left, #c70039, #ff5733, #f25e3d);
  background-size: cover;
}

.section-title {
  font-size: 4vw;
  color: #000;
  margin-bottom: 2rem;
  font-weight:200;
  font-family: "Montserrat", sans-serif;
}

.card-title {
  text-align: center;
  font-size: 2.3rem;
  color: #000;
  margin-bottom: 2rem;
  font-weight:300;
  font-family: "Montserrat", sans-serif;
}

p {
  //background: #2c3e50;
  color: #2c3e50;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 480;
  letter-spacing: 1.4px;
}

.hr {
  border: 0.2px solid #f25e3d;
  border-radius: 3px;
  width: auto;
}

.card {
  //border: 0.2px solid #f25e3d;
  box-shadow: 8px 8px 20px #c3cbd3;
}

.mat-card {
  box-shadow: 8px 8px 20px #c3cbd3;
  height: 660px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.card-ventajas {
  //border: 0.2px solid #A72839;
  //box-shadow: .5px .5px 10px #043F8F;
  background: #f3f3f3;
  font-family: "Montserrat", sans-serif;
  height: 1100px;
}

legend {
  font-family: "Montserrat", sans-serif;
}

.info {
  background: #2c3e50;
  font-family: "Montserrat", sans-serif;
}

.img {
  border-radius: 1px;
}

@media only screen and (max-device-width: 480px) {
  .section-title{
    text-align: center;
    font-size: 2.3rem;
    color: #000;
    margin-bottom: 2rem;
    font-weight:300;
    font-family: "Montserrat", sans-serif;
  }
}
