<!--MAIN HEADER-->
<header class="main-header" id="sec1">
  <div class="text-white py-3 header">
    <div class=" container">
      <div class="row">
        <div class="col-md-6 justify-content-center align-self-center">
          <div class="card bg-transparent border-0">
            <div class="card-body bg-transparent text-center">
              <h2 class="display-4 text-secondary ">¿Quienes somos?</h2>
              <p class="lead text-secondary " align="justify  ">
                <b>Academia Co Marca es una plataforma de aprendizaje en línea, pensada en el desarrollo de habilidades,
                  aprendizaje continuo y actualizado desde el lugar que se encuentre cada usuario, con posibilidad de
                  crecimiento orgánico y extenso, optimizando sus recursos
                  en todas las áreas que empujan al emprendimiento propio fortalecido y de desarrollo integral.</b>
              </p>
              <a href="#subsec1" class="btn btn-info text-white btn-lg">Continua...</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 justify-content-center align-self-center">
          <img src="./assets/img/Standar-image/e_learning academia (2).png" alt="imagen1" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</header>
<!--END MAIN HEADER-->

<!--WHO ARE US?-->
<section>
  <br id="subsec1">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <img src="./assets/img/Slides-image/imagen1.png" alt="imagen2" class="img-fluid">
      </div>
      <div class="col-md-5 align-self-center">
        <div class="card bg-transparent border-0">
          <div class="card-body text-center text-secondary">
            <p class="lead" align="justify">
              La Academia es una iniciativa que nace del trabajo de emprendedores bolivianos como parte de la
              adaptabilidad que influye la coyuntura a la transformación digital, como el mayor canal de oportunidad a
              continuar y avanzar, sin dejar que las circunstancias
              nos lo impidan.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--END WHO ARE US?-->

<!--OUR PEOPLE-->
<section id="sec2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="text-center">
        <h2 class="display-4 text-secondary lead">
          ¿A quiénes nos dirigimos?
        </h2>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card text-center">
          <img src="./assets/img/Slides-image/Aprendizaje.png" class="img-fluid" alt=" ">
          <div class="card-body">
            <h5 class="card-title lead">Personas amantes del aprendizaje continuo</h5>
            <p class="card-text lead" align="justify">Personas como tú que dedican mucho tiempo de su día a explorar
              el mundo, aprender, profundizar y ampliar habilidades, así como buscar nuevos desafíos a través del
              desarrollo integral continuo.</p>
          </div>
        </div>
      </div>


      <div class="col-md-6">
        <div class="card text-center">
          <img src="./assets/img/Slides-image/Profesor.png" class="img-fluid" alt=" ">
          <div class="card-body">
            <h5 class="card-title lead">Apasionados por enseñar</h5>
            <p class="card-text lead" align="justify">Especialistas en su área que les apasiona compartir
              conocimiento, dispuestos a ingresar a un formato digital, disruptivo y con posibilidades de expandir sus
              saberes al mundo, así como crear una nueva cultura y comunidad.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--END OUR PEOPLE-->

<!--BENEFITS-->
<section id="sec4">
  <div class="benefits text-center">
    <div class="container py-5">
      <br>
      <div class="row justify-content-center">
        <div class="text-center">
          <h2 class="display-4 text-white lead">
            Ventajas de la Academia CO MARCA
          </h2>
          <br>
        </div>
      </div>
      <div class="row">
        <!--VENTAJAS ACA-->
        <div class=" col-md-4">
          <div class="card">
            <img src="./assets/img/Standar-image/1.png" class="img-fluid" alt=" ">
            <div class="card-body ">
              <h5 class="card-title ">Contenido Especializado</h5>
              <p class="card-text lead " align="justify ">En La Academia encontrarás contenido especializado y
                complementario enfocado a distintas áreas estratégicas que permitan potenciarte con ventajas
                competitivas en tu dinamismo.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="./assets/img/Standar-image/4.png" class="img-fluid" alt=" ">
            <div class="card-body">
              <h5 class="card-title">Enfocada al Emprendimiento</h5>
              <p class="card-text lead" align="justify">En Co Marca Cowork somos parte activa del ecosistema emprendedor
                boliviano, esa experiencia nos motiva a reflejarla en La Academia, especializando cada disciplina al
                desarrollo del sector.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="./assets/img/Standar-image/2.png" class="img-fluid" alt=" ">
            <div class="card-body">
              <h5 class="card-title">Ser parte de La Academia</h5>
              <p class="card-text lead" align="justify">Ser integrante te da oportunidad de ingresar a una comunidad,
                interactuar en ella, así como posibilidades de tutoría y mentoría. Compartir tus conocimientos y crear
                empleabilidad orgánica.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br><br id="sec5">
    </div>
  </div>
</section>
<!--END BENEFITS-->

<!--CONTACTS-->
<section class="bg-dark text-white py-5">
  <br>
  <div class="container">
    <form>
      <div class="row">
        <div class="col-md-4">
          <h3 class="lead text-center">¿Necesitas más información?
            <br> Comunícate con nosotros.
          </h3>
        </div>
        <div class="col-md-4">
          <input type="email" id="email" class="form-control form-control-lg"
            placeholder="Ingresa tu correo electrónico">
        </div>
        <div class="col-md-4">
          <button onclick="myFunction()" class="btn btn-info btn-lg btn-block">Enviar</button>
        </div>
      </div>
    </form>
  </div>
  <br>
</section>
<!--END CONTACTS-->

<!--FORMULARIO-->
<section class="bg-light py-5">
  <div class="container">
    <div class="card">
      <h3 class="card-header text-center">Realiza esta pequeña encuesta</h3>
      <div class="card-body justify-content-center align-self-center">
        <form>
          <fieldset class="form-group">
            <div class="row">
              <!-- ID que recibimos de firebase-->
              <legend class="col-form-label col-sm-8">
                1.¿Conoces la educación a distancia?</legend>
              <div class="col-sm-4">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="educacion_distancia" id="educacion_distancia"
                    value="Si" checked>
                  <label class="form-check-label" for="gridRadios1">
                    Sí
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="educacion_distancia" id="educacion_distancia"
                    value="No">
                  <label class="form-check-label" for="gridRadios2">
                    No
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-8 ">2.¿Estuvieras dispuest@ a aprender en línea?</legend>
              <div class="col-sm-4">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="aprender_linea" id="aprender_linea" value="Si"
                    checked>
                  <label class="form-check-label" for="gridRadios">
                    Sí
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="aprender_linea" id="aprender_linea" value="No">
                  <label class="form-check-label" for="gridRadios">
                    No
                  </label>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="row">
            <label for="inputTextCurso" class=" col-sm-8 col-form-label ">3.¿Qué tipos de cursos te
              interesarían?</label>
            <div class="col-sm-4 ">
              <input type="text" id="cursos_interes" class="form-control">
            </div>
          </div>
          <br>
          <div class=" form-group row ">
            <div class="col-sm-12 ">
              <button onclick="guardar()" class="btn btn-info btn-lg btn-block">Envía tu respuesta!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!--END FORMULARIO-->
